// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ArtifactManifest
import ai.octomil.generated.transport.models.ArtifactsDownloadUrls200Response
import ai.octomil.generated.transport.models.ArtifactsDownloadUrlsRequest
import ai.octomil.generated.transport.models.ErrorEnvelope

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class ArtifactsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Generate pre-signed download URLs for artifact files (optionally per-chunk for resumable downloads). Returned URLs are s
     * Generate pre-signed download URLs for artifact files (optionally per-chunk for resumable downloads). Returned URLs are short-lived; re-call if a download resumes after expiry.
     * @param artifactId 
     * @param artifactsDownloadUrlsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ArtifactsDownloadUrls200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun artifactsDownloadUrls(artifactId: kotlin.String, artifactsDownloadUrlsRequest: ArtifactsDownloadUrlsRequest, idempotencyKey: kotlin.String? = null) : ArtifactsDownloadUrls200Response {
        val localVarResponse = artifactsDownloadUrlsWithHttpInfo(artifactId = artifactId, artifactsDownloadUrlsRequest = artifactsDownloadUrlsRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ArtifactsDownloadUrls200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Generate pre-signed download URLs for artifact files (optionally per-chunk for resumable downloads). Returned URLs are s
     * Generate pre-signed download URLs for artifact files (optionally per-chunk for resumable downloads). Returned URLs are short-lived; re-call if a download resumes after expiry.
     * @param artifactId 
     * @param artifactsDownloadUrlsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<ArtifactsDownloadUrls200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun artifactsDownloadUrlsWithHttpInfo(artifactId: kotlin.String, artifactsDownloadUrlsRequest: ArtifactsDownloadUrlsRequest, idempotencyKey: kotlin.String?) : ApiResponse<ArtifactsDownloadUrls200Response?> {
        val localVariableConfig = artifactsDownloadUrlsRequestConfig(artifactId = artifactId, artifactsDownloadUrlsRequest = artifactsDownloadUrlsRequest, idempotencyKey = idempotencyKey)

        return request<ArtifactsDownloadUrlsRequest, ArtifactsDownloadUrls200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation artifactsDownloadUrls
     *
     * @param artifactId 
     * @param artifactsDownloadUrlsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun artifactsDownloadUrlsRequestConfig(artifactId: kotlin.String, artifactsDownloadUrlsRequest: ArtifactsDownloadUrlsRequest, idempotencyKey: kotlin.String?) : RequestConfig<ArtifactsDownloadUrlsRequest> {
        val localVariableBody = artifactsDownloadUrlsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/artifacts/{artifact_id}/download-urls".replace("{"+"artifact_id"+"}", encodeURIComponent(artifactId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Fetch the chunked download manifest for a specific artifact, including per-chunk integrity hashes.
     * Fetch the chunked download manifest for a specific artifact, including per-chunk integrity hashes.
     * @param artifactId 
     * @param deviceId 
     * @return ArtifactManifest
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun artifactsManifest(artifactId: kotlin.String, deviceId: kotlin.String) : ArtifactManifest {
        val localVarResponse = artifactsManifestWithHttpInfo(artifactId = artifactId, deviceId = deviceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ArtifactManifest
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Fetch the chunked download manifest for a specific artifact, including per-chunk integrity hashes.
     * Fetch the chunked download manifest for a specific artifact, including per-chunk integrity hashes.
     * @param artifactId 
     * @param deviceId 
     * @return ApiResponse<ArtifactManifest?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun artifactsManifestWithHttpInfo(artifactId: kotlin.String, deviceId: kotlin.String) : ApiResponse<ArtifactManifest?> {
        val localVariableConfig = artifactsManifestRequestConfig(artifactId = artifactId, deviceId = deviceId)

        return request<Unit, ArtifactManifest>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation artifactsManifest
     *
     * @param artifactId 
     * @param deviceId 
     * @return RequestConfig
     */
    fun artifactsManifestRequestConfig(artifactId: kotlin.String, deviceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("deviceId", listOf(deviceId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/artifacts/{artifact_id}/manifest".replace("{"+"artifact_id"+"}", encodeURIComponent(artifactId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
