// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ChatThread
import ai.octomil.generated.transport.models.ChatThreadsTracking200ResponseInner
import ai.octomil.generated.transport.models.ChatTurnRequest
import ai.octomil.generated.transport.models.ChatTurnResult
import ai.octomil.generated.transport.models.ErrorEnvelope

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class ChatApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Create a new chat thread.
     * Create a new chat thread.
     * @param chatThread 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ChatThread
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun chatThreadsCreate(chatThread: ChatThread, idempotencyKey: kotlin.String? = null) : ChatThread {
        val localVarResponse = chatThreadsCreateWithHttpInfo(chatThread = chatThread, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatThread
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create a new chat thread.
     * Create a new chat thread.
     * @param chatThread 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<ChatThread?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun chatThreadsCreateWithHttpInfo(chatThread: ChatThread, idempotencyKey: kotlin.String?) : ApiResponse<ChatThread?> {
        val localVariableConfig = chatThreadsCreateRequestConfig(chatThread = chatThread, idempotencyKey = idempotencyKey)

        return request<ChatThread, ChatThread>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatThreadsCreate
     *
     * @param chatThread 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun chatThreadsCreateRequestConfig(chatThread: ChatThread, idempotencyKey: kotlin.String?) : RequestConfig<ChatThread> {
        val localVariableBody = chatThread
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/chat/threads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve a thread and its messages.
     * Retrieve a thread and its messages.
     * @param threadId 
     * @return ChatThread
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun chatThreadsGet(threadId: kotlin.String) : ChatThread {
        val localVarResponse = chatThreadsGetWithHttpInfo(threadId = threadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatThread
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a thread and its messages.
     * Retrieve a thread and its messages.
     * @param threadId 
     * @return ApiResponse<ChatThread?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun chatThreadsGetWithHttpInfo(threadId: kotlin.String) : ApiResponse<ChatThread?> {
        val localVariableConfig = chatThreadsGetRequestConfig(threadId = threadId)

        return request<Unit, ChatThread>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatThreadsGet
     *
     * @param threadId 
     * @return RequestConfig
     */
    fun chatThreadsGetRequestConfig(threadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/chat/threads/{thread_id}".replace("{"+"thread_id"+"}", encodeURIComponent(threadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter order
     */
     enum class OrderChatThreadsList(val value: kotlin.String) {
         @SerialName(value = "asc") ASC("asc"),
         @SerialName(value = "desc") DESC("desc");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * List chat threads.
     * List chat threads.
     * @param limit  (optional, default to 20)
     * @param order  (optional, default to desc)
     * @return kotlin.collections.List<ChatThread>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun chatThreadsList(limit: kotlin.Int? = 20, order: OrderChatThreadsList? = OrderChatThreadsList.DESC) : kotlin.collections.List<ChatThread> {
        val localVarResponse = chatThreadsListWithHttpInfo(limit = limit, order = order)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ChatThread>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List chat threads.
     * List chat threads.
     * @param limit  (optional, default to 20)
     * @param order  (optional, default to desc)
     * @return ApiResponse<kotlin.collections.List<ChatThread>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun chatThreadsListWithHttpInfo(limit: kotlin.Int?, order: OrderChatThreadsList?) : ApiResponse<kotlin.collections.List<ChatThread>?> {
        val localVariableConfig = chatThreadsListRequestConfig(limit = limit, order = order)

        return request<Unit, kotlin.collections.List<ChatThread>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatThreadsList
     *
     * @param limit  (optional, default to 20)
     * @param order  (optional, default to desc)
     * @return RequestConfig
     */
    fun chatThreadsListRequestConfig(limit: kotlin.Int?, order: OrderChatThreadsList?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/chat/threads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return ordered tracking events for a conversation thread. Requires admin or internal scope; returns 403 for other scopes
     * Return ordered tracking events for a conversation thread. Requires admin or internal scope; returns 403 for other scopes.
     * @param threadId 
     * @return kotlin.collections.List<ChatThreadsTracking200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun chatThreadsTracking(threadId: kotlin.String) : kotlin.collections.List<ChatThreadsTracking200ResponseInner> {
        val localVarResponse = chatThreadsTrackingWithHttpInfo(threadId = threadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ChatThreadsTracking200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return ordered tracking events for a conversation thread. Requires admin or internal scope; returns 403 for other scopes
     * Return ordered tracking events for a conversation thread. Requires admin or internal scope; returns 403 for other scopes.
     * @param threadId 
     * @return ApiResponse<kotlin.collections.List<ChatThreadsTracking200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun chatThreadsTrackingWithHttpInfo(threadId: kotlin.String) : ApiResponse<kotlin.collections.List<ChatThreadsTracking200ResponseInner>?> {
        val localVariableConfig = chatThreadsTrackingRequestConfig(threadId = threadId)

        return request<Unit, kotlin.collections.List<ChatThreadsTracking200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatThreadsTracking
     *
     * @param threadId 
     * @return RequestConfig
     */
    fun chatThreadsTrackingRequestConfig(threadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/chat/threads/{thread_id}/tracking".replace("{"+"thread_id"+"}", encodeURIComponent(threadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Submit a user message and receive a complete assistant response.
     * Submit a user message and receive a complete assistant response.
     * @param threadId 
     * @param chatTurnRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ChatTurnResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun chatTurn(threadId: kotlin.String, chatTurnRequest: ChatTurnRequest, idempotencyKey: kotlin.String? = null) : ChatTurnResult {
        val localVarResponse = chatTurnWithHttpInfo(threadId = threadId, chatTurnRequest = chatTurnRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatTurnResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Submit a user message and receive a complete assistant response.
     * Submit a user message and receive a complete assistant response.
     * @param threadId 
     * @param chatTurnRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<ChatTurnResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun chatTurnWithHttpInfo(threadId: kotlin.String, chatTurnRequest: ChatTurnRequest, idempotencyKey: kotlin.String?) : ApiResponse<ChatTurnResult?> {
        val localVariableConfig = chatTurnRequestConfig(threadId = threadId, chatTurnRequest = chatTurnRequest, idempotencyKey = idempotencyKey)

        return request<ChatTurnRequest, ChatTurnResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatTurn
     *
     * @param threadId 
     * @param chatTurnRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun chatTurnRequestConfig(threadId: kotlin.String, chatTurnRequest: ChatTurnRequest, idempotencyKey: kotlin.String?) : RequestConfig<ChatTurnRequest> {
        val localVariableBody = chatTurnRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/chat/threads/{thread_id}/turns".replace("{"+"thread_id"+"}", encodeURIComponent(threadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
