// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.CloudChatCompletionsRequest
import ai.octomil.generated.transport.models.CloudModelsList200Response
import ai.octomil.generated.transport.models.ErrorEnvelope

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class CloudApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * OpenAI-compatible chat completions via the Octomil cloud gateway. Resolves the credential for the inferred/specified pro
     * OpenAI-compatible chat completions via the Octomil cloud gateway. Resolves the credential for the inferred/specified provider, applies the org admission gate, and forwards to the provider. Supports both blocking and streaming responses.
     * @param cloudChatCompletionsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudChatCompletions(cloudChatCompletionsRequest: CloudChatCompletionsRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = cloudChatCompletionsWithHttpInfo(cloudChatCompletionsRequest = cloudChatCompletionsRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * OpenAI-compatible chat completions via the Octomil cloud gateway. Resolves the credential for the inferred/specified pro
     * OpenAI-compatible chat completions via the Octomil cloud gateway. Resolves the credential for the inferred/specified provider, applies the org admission gate, and forwards to the provider. Supports both blocking and streaming responses.
     * @param cloudChatCompletionsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudChatCompletionsWithHttpInfo(cloudChatCompletionsRequest: CloudChatCompletionsRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = cloudChatCompletionsRequestConfig(cloudChatCompletionsRequest = cloudChatCompletionsRequest, idempotencyKey = idempotencyKey)

        return request<CloudChatCompletionsRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudChatCompletions
     *
     * @param cloudChatCompletionsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun cloudChatCompletionsRequestConfig(cloudChatCompletionsRequest: CloudChatCompletionsRequest, idempotencyKey: kotlin.String?) : RequestConfig<CloudChatCompletionsRequest> {
        val localVariableBody = cloudChatCompletionsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/cloud/chat/completions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List cloud models available via the Octomil gateway. Returns active models from the cloud catalog. Requires cloud scope.
     * List cloud models available via the Octomil gateway. Returns active models from the cloud catalog. Requires cloud scope.
     * @return CloudModelsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudModelsList() : CloudModelsList200Response {
        val localVarResponse = cloudModelsListWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudModelsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List cloud models available via the Octomil gateway. Returns active models from the cloud catalog. Requires cloud scope.
     * List cloud models available via the Octomil gateway. Returns active models from the cloud catalog. Requires cloud scope.
     * @return ApiResponse<CloudModelsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudModelsListWithHttpInfo() : ApiResponse<CloudModelsList200Response?> {
        val localVariableConfig = cloudModelsListRequestConfig()

        return request<Unit, CloudModelsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudModelsList
     *
     * @return RequestConfig
     */
    fun cloudModelsListRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/cloud/models",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
