// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.DeviceGroupsAddMemberRequest
import ai.octomil.generated.transport.models.DeviceGroupsCreateRequest
import ai.octomil.generated.transport.models.DeviceGroupsList200Response
import ai.octomil.generated.transport.models.DeviceGroupsListDevices200Response
import ai.octomil.generated.transport.models.DeviceGroupsUpdateRequest
import ai.octomil.generated.transport.models.ErrorEnvelope

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class DeviceGroupsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Manually add a device to a (static or hybrid) group. Returns 409 if the group is purely dynamic.
     * Manually add a device to a (static or hybrid) group. Returns 409 if the group is purely dynamic.
     * @param groupId 
     * @param deviceGroupsAddMemberRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsAddMember(groupId: kotlin.String, deviceGroupsAddMemberRequest: DeviceGroupsAddMemberRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = deviceGroupsAddMemberWithHttpInfo(groupId = groupId, deviceGroupsAddMemberRequest = deviceGroupsAddMemberRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Manually add a device to a (static or hybrid) group. Returns 409 if the group is purely dynamic.
     * Manually add a device to a (static or hybrid) group. Returns 409 if the group is purely dynamic.
     * @param groupId 
     * @param deviceGroupsAddMemberRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsAddMemberWithHttpInfo(groupId: kotlin.String, deviceGroupsAddMemberRequest: DeviceGroupsAddMemberRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = deviceGroupsAddMemberRequestConfig(groupId = groupId, deviceGroupsAddMemberRequest = deviceGroupsAddMemberRequest, idempotencyKey = idempotencyKey)

        return request<DeviceGroupsAddMemberRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsAddMember
     *
     * @param groupId 
     * @param deviceGroupsAddMemberRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun deviceGroupsAddMemberRequestConfig(groupId: kotlin.String, deviceGroupsAddMemberRequest: DeviceGroupsAddMemberRequest, idempotencyKey: kotlin.String?) : RequestConfig<DeviceGroupsAddMemberRequest> {
        val localVariableBody = deviceGroupsAddMemberRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/device-groups/{group_id}/members".replace("{"+"group_id"+"}", encodeURIComponent(groupId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Create a new DeviceGroup. Static groups have manual members; dynamic groups evaluate auto_assignment_rules.matchLabels a
     * Create a new DeviceGroup. Static groups have manual members; dynamic groups evaluate auto_assignment_rules.matchLabels at query time.
     * @param orgId 
     * @param deviceGroupsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsCreate(orgId: kotlin.String, deviceGroupsCreateRequest: DeviceGroupsCreateRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = deviceGroupsCreateWithHttpInfo(orgId = orgId, deviceGroupsCreateRequest = deviceGroupsCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create a new DeviceGroup. Static groups have manual members; dynamic groups evaluate auto_assignment_rules.matchLabels a
     * Create a new DeviceGroup. Static groups have manual members; dynamic groups evaluate auto_assignment_rules.matchLabels at query time.
     * @param orgId 
     * @param deviceGroupsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsCreateWithHttpInfo(orgId: kotlin.String, deviceGroupsCreateRequest: DeviceGroupsCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = deviceGroupsCreateRequestConfig(orgId = orgId, deviceGroupsCreateRequest = deviceGroupsCreateRequest, idempotencyKey = idempotencyKey)

        return request<DeviceGroupsCreateRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsCreate
     *
     * @param orgId 
     * @param deviceGroupsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun deviceGroupsCreateRequestConfig(orgId: kotlin.String, deviceGroupsCreateRequest: DeviceGroupsCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<DeviceGroupsCreateRequest> {
        val localVariableBody = deviceGroupsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/device-groups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Fetch a single DeviceGroup. Powers the group detail page.
     * Fetch a single DeviceGroup. Powers the group detail page.
     * @param groupId 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsGet(groupId: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = deviceGroupsGetWithHttpInfo(groupId = groupId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Fetch a single DeviceGroup. Powers the group detail page.
     * Fetch a single DeviceGroup. Powers the group detail page.
     * @param groupId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsGetWithHttpInfo(groupId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = deviceGroupsGetRequestConfig(groupId = groupId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsGet
     *
     * @param groupId 
     * @return RequestConfig
     */
    fun deviceGroupsGetRequestConfig(groupId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/device-groups/{group_id}".replace("{"+"group_id"+"}", encodeURIComponent(groupId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List DeviceGroups in the caller&#39;s org.
     * List DeviceGroups in the caller&#39;s org.
     * @param orgId  (optional)
     * @param groupType \&quot;static\&quot; | \&quot;dynamic\&quot; | \&quot;hybrid\&quot;. (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return DeviceGroupsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsList(orgId: kotlin.String? = null, groupType: kotlin.String? = null, limit: kotlin.Int? = 50, cursor: kotlin.String? = null) : DeviceGroupsList200Response {
        val localVarResponse = deviceGroupsListWithHttpInfo(orgId = orgId, groupType = groupType, limit = limit, cursor = cursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeviceGroupsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List DeviceGroups in the caller&#39;s org.
     * List DeviceGroups in the caller&#39;s org.
     * @param orgId  (optional)
     * @param groupType \&quot;static\&quot; | \&quot;dynamic\&quot; | \&quot;hybrid\&quot;. (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return ApiResponse<DeviceGroupsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsListWithHttpInfo(orgId: kotlin.String?, groupType: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : ApiResponse<DeviceGroupsList200Response?> {
        val localVariableConfig = deviceGroupsListRequestConfig(orgId = orgId, groupType = groupType, limit = limit, cursor = cursor)

        return request<Unit, DeviceGroupsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsList
     *
     * @param orgId  (optional)
     * @param groupType \&quot;static\&quot; | \&quot;dynamic\&quot; | \&quot;hybrid\&quot;. (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return RequestConfig
     */
    fun deviceGroupsListRequestConfig(orgId: kotlin.String?, groupType: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (orgId != null) {
                    put("org_id", listOf(orgId.toString()))
                }
                if (groupType != null) {
                    put("group_type", listOf(groupType.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/device-groups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List the devices that are members of a group. Static membership is direct; dynamic is re-evaluated at query time.
     * List the devices that are members of a group. Static membership is direct; dynamic is re-evaluated at query time.
     * @param groupId 
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return DeviceGroupsListDevices200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsListDevices(groupId: kotlin.String, limit: kotlin.Int? = 50, cursor: kotlin.String? = null) : DeviceGroupsListDevices200Response {
        val localVarResponse = deviceGroupsListDevicesWithHttpInfo(groupId = groupId, limit = limit, cursor = cursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeviceGroupsListDevices200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List the devices that are members of a group. Static membership is direct; dynamic is re-evaluated at query time.
     * List the devices that are members of a group. Static membership is direct; dynamic is re-evaluated at query time.
     * @param groupId 
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return ApiResponse<DeviceGroupsListDevices200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsListDevicesWithHttpInfo(groupId: kotlin.String, limit: kotlin.Int?, cursor: kotlin.String?) : ApiResponse<DeviceGroupsListDevices200Response?> {
        val localVariableConfig = deviceGroupsListDevicesRequestConfig(groupId = groupId, limit = limit, cursor = cursor)

        return request<Unit, DeviceGroupsListDevices200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsListDevices
     *
     * @param groupId 
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return RequestConfig
     */
    fun deviceGroupsListDevicesRequestConfig(groupId: kotlin.String, limit: kotlin.Int?, cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/device-groups/{group_id}/devices".replace("{"+"group_id"+"}", encodeURIComponent(groupId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Remove a manual member from a group. Has no effect on dynamic members (which are recomputed from rules).
     * Remove a manual member from a group. Has no effect on dynamic members (which are recomputed from rules).
     * @param groupId 
     * @param deviceId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsRemoveMember(groupId: kotlin.String, deviceId: kotlin.String) : kotlin.Any {
        val localVarResponse = deviceGroupsRemoveMemberWithHttpInfo(groupId = groupId, deviceId = deviceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Remove a manual member from a group. Has no effect on dynamic members (which are recomputed from rules).
     * Remove a manual member from a group. Has no effect on dynamic members (which are recomputed from rules).
     * @param groupId 
     * @param deviceId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsRemoveMemberWithHttpInfo(groupId: kotlin.String, deviceId: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deviceGroupsRemoveMemberRequestConfig(groupId = groupId, deviceId = deviceId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsRemoveMember
     *
     * @param groupId 
     * @param deviceId 
     * @return RequestConfig
     */
    fun deviceGroupsRemoveMemberRequestConfig(groupId: kotlin.String, deviceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/device-groups/{group_id}/members/{device_id}".replace("{"+"group_id"+"}", encodeURIComponent(groupId.toString())).replace("{"+"device_id"+"}", encodeURIComponent(deviceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Partial update of a DeviceGroup. Changing auto_assignment_rules re-evaluates membership.
     * Partial update of a DeviceGroup. Changing auto_assignment_rules re-evaluates membership.
     * @param groupId 
     * @param deviceGroupsUpdateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deviceGroupsUpdate(groupId: kotlin.String, deviceGroupsUpdateRequest: DeviceGroupsUpdateRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = deviceGroupsUpdateWithHttpInfo(groupId = groupId, deviceGroupsUpdateRequest = deviceGroupsUpdateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Partial update of a DeviceGroup. Changing auto_assignment_rules re-evaluates membership.
     * Partial update of a DeviceGroup. Changing auto_assignment_rules re-evaluates membership.
     * @param groupId 
     * @param deviceGroupsUpdateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deviceGroupsUpdateWithHttpInfo(groupId: kotlin.String, deviceGroupsUpdateRequest: DeviceGroupsUpdateRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = deviceGroupsUpdateRequestConfig(groupId = groupId, deviceGroupsUpdateRequest = deviceGroupsUpdateRequest, idempotencyKey = idempotencyKey)

        return request<DeviceGroupsUpdateRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deviceGroupsUpdate
     *
     * @param groupId 
     * @param deviceGroupsUpdateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun deviceGroupsUpdateRequestConfig(groupId: kotlin.String, deviceGroupsUpdateRequest: DeviceGroupsUpdateRequest, idempotencyKey: kotlin.String?) : RequestConfig<DeviceGroupsUpdateRequest> {
        val localVariableBody = deviceGroupsUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/device-groups/{group_id}".replace("{"+"group_id"+"}", encodeURIComponent(groupId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
