// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.FederationsCreateRequest
import ai.octomil.generated.transport.models.FederationsInvite200ResponseInner
import ai.octomil.generated.transport.models.FederationsInviteRequest
import ai.octomil.generated.transport.models.FederationsJoinRequest
import ai.octomil.generated.transport.models.FederationsModelsList200ResponseInner
import ai.octomil.generated.transport.models.FederationsModelsShare200Response
import ai.octomil.generated.transport.models.FederationsModelsShareRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class FederationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Create a new Federation. The creating org becomes the owner; other orgs can join via federations.join with a token issue
     * Create a new Federation. The creating org becomes the owner; other orgs can join via federations.join with a token issued by federations.invite.
     * @param federationsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsCreate(federationsCreateRequest: FederationsCreateRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = federationsCreateWithHttpInfo(federationsCreateRequest = federationsCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create a new Federation. The creating org becomes the owner; other orgs can join via federations.join with a token issue
     * Create a new Federation. The creating org becomes the owner; other orgs can join via federations.join with a token issued by federations.invite.
     * @param federationsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsCreateWithHttpInfo(federationsCreateRequest: FederationsCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = federationsCreateRequestConfig(federationsCreateRequest = federationsCreateRequest, idempotencyKey = idempotencyKey)

        return request<FederationsCreateRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsCreate
     *
     * @param federationsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun federationsCreateRequestConfig(federationsCreateRequest: FederationsCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<FederationsCreateRequest> {
        val localVariableBody = federationsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/federations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Fetch a single Federation by id.
     * Fetch a single Federation by id.
     * @param federationId 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsGet(federationId: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = federationsGetWithHttpInfo(federationId = federationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Fetch a single Federation by id.
     * Fetch a single Federation by id.
     * @param federationId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsGetWithHttpInfo(federationId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = federationsGetRequestConfig(federationId = federationId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsGet
     *
     * @param federationId 
     * @return RequestConfig
     */
    fun federationsGetRequestConfig(federationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/federations/{federation_id}".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Invite one or more organizations to join a federation. Each org_id receives a FederationMember row with status&#x3D;invited i
     * Invite one or more organizations to join a federation. Each org_id receives a FederationMember row with status&#x3D;invited if none exists. If a member row already exists for an org_id, it is returned unchanged (idempotent per org). The invited org must subsequently call federations.join to become an active member.
     * @param federationId ID of the federation to which organizations are being invited.
     * @param federationsInviteRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.List<FederationsInvite200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsInvite(federationId: kotlin.String, federationsInviteRequest: FederationsInviteRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.List<FederationsInvite200ResponseInner> {
        val localVarResponse = federationsInviteWithHttpInfo(federationId = federationId, federationsInviteRequest = federationsInviteRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<FederationsInvite200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Invite one or more organizations to join a federation. Each org_id receives a FederationMember row with status&#x3D;invited i
     * Invite one or more organizations to join a federation. Each org_id receives a FederationMember row with status&#x3D;invited if none exists. If a member row already exists for an org_id, it is returned unchanged (idempotent per org). The invited org must subsequently call federations.join to become an active member.
     * @param federationId ID of the federation to which organizations are being invited.
     * @param federationsInviteRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.List<FederationsInvite200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsInviteWithHttpInfo(federationId: kotlin.String, federationsInviteRequest: FederationsInviteRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.List<FederationsInvite200ResponseInner>?> {
        val localVariableConfig = federationsInviteRequestConfig(federationId = federationId, federationsInviteRequest = federationsInviteRequest, idempotencyKey = idempotencyKey)

        return request<FederationsInviteRequest, kotlin.collections.List<FederationsInvite200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsInvite
     *
     * @param federationId ID of the federation to which organizations are being invited.
     * @param federationsInviteRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun federationsInviteRequestConfig(federationId: kotlin.String, federationsInviteRequest: FederationsInviteRequest, idempotencyKey: kotlin.String?) : RequestConfig<FederationsInviteRequest> {
        val localVariableBody = federationsInviteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/federations/{federation_id}/invite".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Join a Federation as a member. The caller&#39;s org becomes a member; subsequent training rounds can include the org&#39;s devic
     * Join a Federation as a member. The caller&#39;s org becomes a member; subsequent training rounds can include the org&#39;s devices.
     * @param federationId 
     * @param federationsJoinRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsJoin(federationId: kotlin.String, federationsJoinRequest: FederationsJoinRequest, idempotencyKey: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = federationsJoinWithHttpInfo(federationId = federationId, federationsJoinRequest = federationsJoinRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Join a Federation as a member. The caller&#39;s org becomes a member; subsequent training rounds can include the org&#39;s devic
     * Join a Federation as a member. The caller&#39;s org becomes a member; subsequent training rounds can include the org&#39;s devices.
     * @param federationId 
     * @param federationsJoinRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsJoinWithHttpInfo(federationId: kotlin.String, federationsJoinRequest: FederationsJoinRequest, idempotencyKey: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = federationsJoinRequestConfig(federationId = federationId, federationsJoinRequest = federationsJoinRequest, idempotencyKey = idempotencyKey)

        return request<FederationsJoinRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsJoin
     *
     * @param federationId 
     * @param federationsJoinRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun federationsJoinRequestConfig(federationId: kotlin.String, federationsJoinRequest: FederationsJoinRequest, idempotencyKey: kotlin.String?) : RequestConfig<FederationsJoinRequest> {
        val localVariableBody = federationsJoinRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/federations/{federation_id}/join".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List Federations the caller&#39;s org belongs to or owns.
     * List Federations the caller&#39;s org belongs to or owns.
     * @param orgId  (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsList(orgId: kotlin.String? = null, limit: kotlin.Int? = 50, cursor: kotlin.String? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = federationsListWithHttpInfo(orgId = orgId, limit = limit, cursor = cursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List Federations the caller&#39;s org belongs to or owns.
     * List Federations the caller&#39;s org belongs to or owns.
     * @param orgId  (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsListWithHttpInfo(orgId: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = federationsListRequestConfig(orgId = orgId, limit = limit, cursor = cursor)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsList
     *
     * @param orgId  (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return RequestConfig
     */
    fun federationsListRequestConfig(orgId: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (orgId != null) {
                    put("org_id", listOf(orgId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/federations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List orgs that are members of the federation. Powers the federation detail page&#39;s member roster.
     * List orgs that are members of the federation. Powers the federation detail page&#39;s member roster.
     * @param federationId 
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsListMembers(federationId: kotlin.String) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = federationsListMembersWithHttpInfo(federationId = federationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List orgs that are members of the federation. Powers the federation detail page&#39;s member roster.
     * List orgs that are members of the federation. Powers the federation detail page&#39;s member roster.
     * @param federationId 
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsListMembersWithHttpInfo(federationId: kotlin.String) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = federationsListMembersRequestConfig(federationId = federationId)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsListMembers
     *
     * @param federationId 
     * @return RequestConfig
     */
    fun federationsListMembersRequestConfig(federationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/federations/{federation_id}/members".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Returns all models shared with a federation. Federation members use this to discover which models they can contribute tr
     * Returns all models shared with a federation. Federation members use this to discover which models they can contribute training updates to.
     * @param federationId ID of the federation whose shared models to list.
     * @return kotlin.collections.List<FederationsModelsList200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsModelsList(federationId: kotlin.String) : kotlin.collections.List<FederationsModelsList200ResponseInner> {
        val localVarResponse = federationsModelsListWithHttpInfo(federationId = federationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<FederationsModelsList200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Returns all models shared with a federation. Federation members use this to discover which models they can contribute tr
     * Returns all models shared with a federation. Federation members use this to discover which models they can contribute training updates to.
     * @param federationId ID of the federation whose shared models to list.
     * @return ApiResponse<kotlin.collections.List<FederationsModelsList200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsModelsListWithHttpInfo(federationId: kotlin.String) : ApiResponse<kotlin.collections.List<FederationsModelsList200ResponseInner>?> {
        val localVariableConfig = federationsModelsListRequestConfig(federationId = federationId)

        return request<Unit, kotlin.collections.List<FederationsModelsList200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsModelsList
     *
     * @param federationId ID of the federation whose shared models to list.
     * @return RequestConfig
     */
    fun federationsModelsListRequestConfig(federationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/federations/{federation_id}/models".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Associates a model with a federation so that federation members can contribute training updates to it. Sets the model&#39;s 
     * Associates a model with a federation so that federation members can contribute training updates to it. Sets the model&#39;s federation_id field. Only the owning organization of both the model and the federation may perform this operation.
     * @param federationId ID of the federation to share the model with.
     * @param federationsModelsShareRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return FederationsModelsShare200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun federationsModelsShare(federationId: kotlin.String, federationsModelsShareRequest: FederationsModelsShareRequest, idempotencyKey: kotlin.String? = null) : FederationsModelsShare200Response {
        val localVarResponse = federationsModelsShareWithHttpInfo(federationId = federationId, federationsModelsShareRequest = federationsModelsShareRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FederationsModelsShare200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Associates a model with a federation so that federation members can contribute training updates to it. Sets the model&#39;s 
     * Associates a model with a federation so that federation members can contribute training updates to it. Sets the model&#39;s federation_id field. Only the owning organization of both the model and the federation may perform this operation.
     * @param federationId ID of the federation to share the model with.
     * @param federationsModelsShareRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<FederationsModelsShare200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun federationsModelsShareWithHttpInfo(federationId: kotlin.String, federationsModelsShareRequest: FederationsModelsShareRequest, idempotencyKey: kotlin.String?) : ApiResponse<FederationsModelsShare200Response?> {
        val localVariableConfig = federationsModelsShareRequestConfig(federationId = federationId, federationsModelsShareRequest = federationsModelsShareRequest, idempotencyKey = idempotencyKey)

        return request<FederationsModelsShareRequest, FederationsModelsShare200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation federationsModelsShare
     *
     * @param federationId ID of the federation to share the model with.
     * @param federationsModelsShareRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun federationsModelsShareRequestConfig(federationId: kotlin.String, federationsModelsShareRequest: FederationsModelsShareRequest, idempotencyKey: kotlin.String?) : RequestConfig<FederationsModelsShareRequest> {
        val localVariableBody = federationsModelsShareRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/federations/{federation_id}/models".replace("{"+"federation_id"+"}", encodeURIComponent(federationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
