// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.InferenceCreate200Response
import ai.octomil.generated.transport.models.InferenceCreateRequest
import ai.octomil.generated.transport.models.InferenceKvCacheConfig200Response
import ai.octomil.generated.transport.models.InferenceSpeculativeConfig200Response
import ai.octomil.generated.transport.models.InferenceStreamRequest
import ai.octomil.generated.transport.models.ResponseStreamEvent

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class InferenceApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Single non-streaming cloud inference. Server proxies to the configured LLM backend and returns the full response in one 
     * Single non-streaming cloud inference. Server proxies to the configured LLM backend and returns the full response in one shot.
     * @param inferenceCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return InferenceCreate200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inferenceCreate(inferenceCreateRequest: InferenceCreateRequest, idempotencyKey: kotlin.String? = null) : InferenceCreate200Response {
        val localVarResponse = inferenceCreateWithHttpInfo(inferenceCreateRequest = inferenceCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InferenceCreate200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Single non-streaming cloud inference. Server proxies to the configured LLM backend and returns the full response in one 
     * Single non-streaming cloud inference. Server proxies to the configured LLM backend and returns the full response in one shot.
     * @param inferenceCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<InferenceCreate200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun inferenceCreateWithHttpInfo(inferenceCreateRequest: InferenceCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<InferenceCreate200Response?> {
        val localVariableConfig = inferenceCreateRequestConfig(inferenceCreateRequest = inferenceCreateRequest, idempotencyKey = idempotencyKey)

        return request<InferenceCreateRequest, InferenceCreate200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inferenceCreate
     *
     * @param inferenceCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun inferenceCreateRequestConfig(inferenceCreateRequest: InferenceCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<InferenceCreateRequest> {
        val localVariableBody = inferenceCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/inference",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return the recommended KV cache configuration for a model/device-class combination. No authentication required. The runt
     * Return the recommended KV cache configuration for a model/device-class combination. No authentication required. The runtime_config object is intended to be merged directly into engine init parameters.
     * @param runtime Runtime executor slug (e.g. llama_cpp, mlx, nnapi).
     * @param ramGb Device RAM in GB (must be &gt; 0).
     * @param contextLength Planned context length in tokens. Defaults to 8192. (optional)
     * @param model Optional model name for model-specific planning. (optional)
     * @return InferenceKvCacheConfig200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inferenceKvCacheConfig(runtime: kotlin.String, ramGb: java.math.BigDecimal, contextLength: kotlin.Int? = null, model: kotlin.String? = null) : InferenceKvCacheConfig200Response {
        val localVarResponse = inferenceKvCacheConfigWithHttpInfo(runtime = runtime, ramGb = ramGb, contextLength = contextLength, model = model)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InferenceKvCacheConfig200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return the recommended KV cache configuration for a model/device-class combination. No authentication required. The runt
     * Return the recommended KV cache configuration for a model/device-class combination. No authentication required. The runtime_config object is intended to be merged directly into engine init parameters.
     * @param runtime Runtime executor slug (e.g. llama_cpp, mlx, nnapi).
     * @param ramGb Device RAM in GB (must be &gt; 0).
     * @param contextLength Planned context length in tokens. Defaults to 8192. (optional)
     * @param model Optional model name for model-specific planning. (optional)
     * @return ApiResponse<InferenceKvCacheConfig200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun inferenceKvCacheConfigWithHttpInfo(runtime: kotlin.String, ramGb: java.math.BigDecimal, contextLength: kotlin.Int?, model: kotlin.String?) : ApiResponse<InferenceKvCacheConfig200Response?> {
        val localVariableConfig = inferenceKvCacheConfigRequestConfig(runtime = runtime, ramGb = ramGb, contextLength = contextLength, model = model)

        return request<Unit, InferenceKvCacheConfig200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inferenceKvCacheConfig
     *
     * @param runtime Runtime executor slug (e.g. llama_cpp, mlx, nnapi).
     * @param ramGb Device RAM in GB (must be &gt; 0).
     * @param contextLength Planned context length in tokens. Defaults to 8192. (optional)
     * @param model Optional model name for model-specific planning. (optional)
     * @return RequestConfig
     */
    fun inferenceKvCacheConfigRequestConfig(runtime: kotlin.String, ramGb: java.math.BigDecimal, contextLength: kotlin.Int?, model: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("runtime", listOf(runtime.toString()))
                put("ram_gb", listOf(ramGb.toString()))
                if (contextLength != null) {
                    put("context_length", listOf(contextLength.toString()))
                }
                if (model != null) {
                    put("model", listOf(model.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/inference/kv-cache-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return the recommended speculative decoding configuration for a model/device combination. No authentication required. en
     * Return the recommended speculative decoding configuration for a model/device combination. No authentication required. enabled&#x3D;true requires &gt;&#x3D; 6 GB RAM and a supported chip family.
     * @param modelId  (optional)
     * @param deviceClass  (optional)
     * @param totalMemoryMb  (optional)
     * @param chipFamily  (optional)
     * @return InferenceSpeculativeConfig200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inferenceSpeculativeConfig(modelId: kotlin.String? = null, deviceClass: kotlin.String? = null, totalMemoryMb: kotlin.Int? = null, chipFamily: kotlin.String? = null) : InferenceSpeculativeConfig200Response {
        val localVarResponse = inferenceSpeculativeConfigWithHttpInfo(modelId = modelId, deviceClass = deviceClass, totalMemoryMb = totalMemoryMb, chipFamily = chipFamily)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InferenceSpeculativeConfig200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return the recommended speculative decoding configuration for a model/device combination. No authentication required. en
     * Return the recommended speculative decoding configuration for a model/device combination. No authentication required. enabled&#x3D;true requires &gt;&#x3D; 6 GB RAM and a supported chip family.
     * @param modelId  (optional)
     * @param deviceClass  (optional)
     * @param totalMemoryMb  (optional)
     * @param chipFamily  (optional)
     * @return ApiResponse<InferenceSpeculativeConfig200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun inferenceSpeculativeConfigWithHttpInfo(modelId: kotlin.String?, deviceClass: kotlin.String?, totalMemoryMb: kotlin.Int?, chipFamily: kotlin.String?) : ApiResponse<InferenceSpeculativeConfig200Response?> {
        val localVariableConfig = inferenceSpeculativeConfigRequestConfig(modelId = modelId, deviceClass = deviceClass, totalMemoryMb = totalMemoryMb, chipFamily = chipFamily)

        return request<Unit, InferenceSpeculativeConfig200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inferenceSpeculativeConfig
     *
     * @param modelId  (optional)
     * @param deviceClass  (optional)
     * @param totalMemoryMb  (optional)
     * @param chipFamily  (optional)
     * @return RequestConfig
     */
    fun inferenceSpeculativeConfigRequestConfig(modelId: kotlin.String?, deviceClass: kotlin.String?, totalMemoryMb: kotlin.Int?, chipFamily: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (modelId != null) {
                    put("model_id", listOf(modelId.toString()))
                }
                if (deviceClass != null) {
                    put("device_class", listOf(deviceClass.toString()))
                }
                if (totalMemoryMb != null) {
                    put("total_memory_mb", listOf(totalMemoryMb.toString()))
                }
                if (chipFamily != null) {
                    put("chip_family", listOf(chipFamily.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/inference/speculative-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Streaming inference. Same routing semantics as inference.create but the response is text/event-stream and the SDK can st
     * Streaming inference. Same routing semantics as inference.create but the response is text/event-stream and the SDK can start consuming tokens before the model is finished.
     * @param inferenceStreamRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ResponseStreamEvent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inferenceStream(inferenceStreamRequest: InferenceStreamRequest, idempotencyKey: kotlin.String? = null) : ResponseStreamEvent {
        val localVarResponse = inferenceStreamWithHttpInfo(inferenceStreamRequest = inferenceStreamRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ResponseStreamEvent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Streaming inference. Same routing semantics as inference.create but the response is text/event-stream and the SDK can st
     * Streaming inference. Same routing semantics as inference.create but the response is text/event-stream and the SDK can start consuming tokens before the model is finished.
     * @param inferenceStreamRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<ResponseStreamEvent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun inferenceStreamWithHttpInfo(inferenceStreamRequest: InferenceStreamRequest, idempotencyKey: kotlin.String?) : ApiResponse<ResponseStreamEvent?> {
        val localVariableConfig = inferenceStreamRequestConfig(inferenceStreamRequest = inferenceStreamRequest, idempotencyKey = idempotencyKey)

        return request<InferenceStreamRequest, ResponseStreamEvent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inferenceStream
     *
     * @param inferenceStreamRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun inferenceStreamRequestConfig(inferenceStreamRequest: InferenceStreamRequest, idempotencyKey: kotlin.String?) : RequestConfig<InferenceStreamRequest> {
        val localVariableBody = inferenceStreamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/inference/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
