// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.Job
import ai.octomil.generated.transport.models.JobsCreateRequest
import ai.octomil.generated.transport.models.JobsOverview

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class JobsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Cancel a non-terminal job. Sets status&#x3D;cancelled and finished_at&#x3D;now(). Jobs in &#39;completed&#39; or &#39;failed&#39; status cannot be
     * Cancel a non-terminal job. Sets status&#x3D;cancelled and finished_at&#x3D;now(). Jobs in &#39;completed&#39; or &#39;failed&#39; status cannot be cancelled (400).
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return Job
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsCancel(jobId: kotlin.String, idempotencyKey: kotlin.String? = null) : Job {
        val localVarResponse = jobsCancelWithHttpInfo(jobId = jobId, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Job
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Cancel a non-terminal job. Sets status&#x3D;cancelled and finished_at&#x3D;now(). Jobs in &#39;completed&#39; or &#39;failed&#39; status cannot be
     * Cancel a non-terminal job. Sets status&#x3D;cancelled and finished_at&#x3D;now(). Jobs in &#39;completed&#39; or &#39;failed&#39; status cannot be cancelled (400).
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<Job?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsCancelWithHttpInfo(jobId: kotlin.String, idempotencyKey: kotlin.String?) : ApiResponse<Job?> {
        val localVariableConfig = jobsCancelRequestConfig(jobId = jobId, idempotencyKey = idempotencyKey)

        return request<Unit, Job>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsCancel
     *
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun jobsCancelRequestConfig(jobId: kotlin.String, idempotencyKey: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/jobs/{job_id}/cancel".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Enqueue a new background job. For job_type&#x3D;&#39;model.conversion&#39;, checks PlanGateService.check_and_consume() first; 402 if 
     * Enqueue a new background job. For job_type&#x3D;&#39;model.conversion&#39;, checks PlanGateService.check_and_consume() first; 402 if limit exceeded. scheduled_at &#x3D; now() + delay_seconds.
     * @param orgId 
     * @param jobsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return Job
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsCreate(orgId: kotlin.String, jobsCreateRequest: JobsCreateRequest, idempotencyKey: kotlin.String? = null) : Job {
        val localVarResponse = jobsCreateWithHttpInfo(orgId = orgId, jobsCreateRequest = jobsCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Job
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Enqueue a new background job. For job_type&#x3D;&#39;model.conversion&#39;, checks PlanGateService.check_and_consume() first; 402 if 
     * Enqueue a new background job. For job_type&#x3D;&#39;model.conversion&#39;, checks PlanGateService.check_and_consume() first; 402 if limit exceeded. scheduled_at &#x3D; now() + delay_seconds.
     * @param orgId 
     * @param jobsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<Job?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsCreateWithHttpInfo(orgId: kotlin.String, jobsCreateRequest: JobsCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<Job?> {
        val localVariableConfig = jobsCreateRequestConfig(orgId = orgId, jobsCreateRequest = jobsCreateRequest, idempotencyKey = idempotencyKey)

        return request<JobsCreateRequest, Job>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsCreate
     *
     * @param orgId 
     * @param jobsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun jobsCreateRequestConfig(orgId: kotlin.String, jobsCreateRequest: JobsCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<JobsCreateRequest> {
        val localVariableBody = jobsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve a single job by ID. No org scoping.
     * Retrieve a single job by ID. No org scoping.
     * @param jobId 
     * @return Job
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsGet(jobId: kotlin.String) : Job {
        val localVarResponse = jobsGetWithHttpInfo(jobId = jobId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Job
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a single job by ID. No org scoping.
     * Retrieve a single job by ID. No org scoping.
     * @param jobId 
     * @return ApiResponse<Job?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsGetWithHttpInfo(jobId: kotlin.String) : ApiResponse<Job?> {
        val localVariableConfig = jobsGetRequestConfig(jobId = jobId)

        return request<Unit, Job>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsGet
     *
     * @param jobId 
     * @return RequestConfig
     */
    fun jobsGetRequestConfig(jobId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/jobs/{job_id}".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List background jobs for the specified org. job_type filter is applied in-process after the DB fetch.
     * List background jobs for the specified org. job_type filter is applied in-process after the DB fetch.
     * @param orgId 
     * @param status  (optional)
     * @param jobType Applied in-process after DB query. (optional)
     * @param limit  (optional, default to 100)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsList(orgId: kotlin.String, status: kotlin.String? = null, jobType: kotlin.String? = null, limit: kotlin.Int? = 100) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = jobsListWithHttpInfo(orgId = orgId, status = status, jobType = jobType, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List background jobs for the specified org. job_type filter is applied in-process after the DB fetch.
     * List background jobs for the specified org. job_type filter is applied in-process after the DB fetch.
     * @param orgId 
     * @param status  (optional)
     * @param jobType Applied in-process after DB query. (optional)
     * @param limit  (optional, default to 100)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsListWithHttpInfo(orgId: kotlin.String, status: kotlin.String?, jobType: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = jobsListRequestConfig(orgId = orgId, status = status, jobType = jobType, limit = limit)

        return request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsList
     *
     * @param orgId 
     * @param status  (optional)
     * @param jobType Applied in-process after DB query. (optional)
     * @param limit  (optional, default to 100)
     * @return RequestConfig
     */
    fun jobsListRequestConfig(orgId: kotlin.String, status: kotlin.String?, jobType: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (jobType != null) {
                    put("job_type", listOf(jobType.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return log entries associated with a job. Fetched via ILIKE &#39;%{job_id}%&#39; on LogEntry.message, ordered by created_at DESC
     * Return log entries associated with a job. Fetched via ILIKE &#39;%{job_id}%&#39; on LogEntry.message, ordered by created_at DESC. No FK relationship — string-match heuristic.
     * @param jobId 
     * @param limit  (optional, default to 100)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsLogs(jobId: kotlin.String, limit: kotlin.Int? = 100) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = jobsLogsWithHttpInfo(jobId = jobId, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return log entries associated with a job. Fetched via ILIKE &#39;%{job_id}%&#39; on LogEntry.message, ordered by created_at DESC
     * Return log entries associated with a job. Fetched via ILIKE &#39;%{job_id}%&#39; on LogEntry.message, ordered by created_at DESC. No FK relationship — string-match heuristic.
     * @param jobId 
     * @param limit  (optional, default to 100)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsLogsWithHttpInfo(jobId: kotlin.String, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = jobsLogsRequestConfig(jobId = jobId, limit = limit)

        return request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsLogs
     *
     * @param jobId 
     * @param limit  (optional, default to 100)
     * @return RequestConfig
     */
    fun jobsLogsRequestConfig(jobId: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/jobs/{job_id}/logs".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return aggregated job queue summary. Fetches up to 500 jobs and computes counts by status and job_type in memory. active
     * Return aggregated job queue summary. Fetches up to 500 jobs and computes counts by status and job_type in memory. active_total &#x3D; running + in_progress; recent_jobs &#x3D; first 10 of 500.
     * @param orgId 
     * @return JobsOverview
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsOverview(orgId: kotlin.String) : JobsOverview {
        val localVarResponse = jobsOverviewWithHttpInfo(orgId = orgId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobsOverview
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return aggregated job queue summary. Fetches up to 500 jobs and computes counts by status and job_type in memory. active
     * Return aggregated job queue summary. Fetches up to 500 jobs and computes counts by status and job_type in memory. active_total &#x3D; running + in_progress; recent_jobs &#x3D; first 10 of 500.
     * @param orgId 
     * @return ApiResponse<JobsOverview?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsOverviewWithHttpInfo(orgId: kotlin.String) : ApiResponse<JobsOverview?> {
        val localVariableConfig = jobsOverviewRequestConfig(orgId = orgId)

        return request<Unit, JobsOverview>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsOverview
     *
     * @param orgId 
     * @return RequestConfig
     */
    fun jobsOverviewRequestConfig(orgId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/jobs/overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retry a failed or cancelled job. Resets status&#x3D;queued, clears error_message, result, progress_pct, scheduled_at&#x3D;now(). D
     * Retry a failed or cancelled job. Resets status&#x3D;queued, clears error_message, result, progress_pct, scheduled_at&#x3D;now(). Does NOT reset the attempts counter.
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return Job
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun jobsRetry(jobId: kotlin.String, idempotencyKey: kotlin.String? = null) : Job {
        val localVarResponse = jobsRetryWithHttpInfo(jobId = jobId, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Job
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retry a failed or cancelled job. Resets status&#x3D;queued, clears error_message, result, progress_pct, scheduled_at&#x3D;now(). D
     * Retry a failed or cancelled job. Resets status&#x3D;queued, clears error_message, result, progress_pct, scheduled_at&#x3D;now(). Does NOT reset the attempts counter.
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<Job?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun jobsRetryWithHttpInfo(jobId: kotlin.String, idempotencyKey: kotlin.String?) : ApiResponse<Job?> {
        val localVariableConfig = jobsRetryRequestConfig(jobId = jobId, idempotencyKey = idempotencyKey)

        return request<Unit, Job>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation jobsRetry
     *
     * @param jobId 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun jobsRetryRequestConfig(jobId: kotlin.String, idempotencyKey: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/jobs/{job_id}/retry".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
