// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.LogsAudit200Response
import ai.octomil.generated.transport.models.LogsGet200Response
import ai.octomil.generated.transport.models.LogsIngestRuntime200Response
import ai.octomil.generated.transport.models.LogsIngestRuntimeRequest
import ai.octomil.generated.transport.models.LogsList200Response
import ai.octomil.generated.transport.models.LogsQuery200Response
import ai.octomil.generated.transport.models.LogsQueryRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class LogsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Retrieve the audit trail of security-relevant log entries for an org. Subset of the full log stream limited to audit-cla
     * Retrieve the audit trail of security-relevant log entries for an org. Subset of the full log stream limited to audit-class events.
     * @param orgId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @return LogsAudit200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logsAudit(orgId: kotlin.String, limit: kotlin.Int? = null, offset: kotlin.Int? = null) : LogsAudit200Response {
        val localVarResponse = logsAuditWithHttpInfo(orgId = orgId, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LogsAudit200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve the audit trail of security-relevant log entries for an org. Subset of the full log stream limited to audit-cla
     * Retrieve the audit trail of security-relevant log entries for an org. Subset of the full log stream limited to audit-class events.
     * @param orgId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @return ApiResponse<LogsAudit200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logsAuditWithHttpInfo(orgId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<LogsAudit200Response?> {
        val localVariableConfig = logsAuditRequestConfig(orgId = orgId, limit = limit, offset = offset)

        return request<Unit, LogsAudit200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logsAudit
     *
     * @param orgId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @return RequestConfig
     */
    fun logsAuditRequestConfig(orgId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/logs/audit",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve a single log entry by event_id.
     * Retrieve a single log entry by event_id.
     * @param eventId 
     * @return LogsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logsGet(eventId: kotlin.String) : LogsGet200Response {
        val localVarResponse = logsGetWithHttpInfo(eventId = eventId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LogsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a single log entry by event_id.
     * Retrieve a single log entry by event_id.
     * @param eventId 
     * @return ApiResponse<LogsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logsGetWithHttpInfo(eventId: kotlin.String) : ApiResponse<LogsGet200Response?> {
        val localVariableConfig = logsGetRequestConfig(eventId = eventId)

        return request<Unit, LogsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logsGet
     *
     * @param eventId 
     * @return RequestConfig
     */
    fun logsGetRequestConfig(eventId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/logs/{event_id}".replace("{"+"event_id"+"}", encodeURIComponent(eventId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Ingest a batch of runtime log entries from octomil serve. Creates LogEntry records that appear in the device activity fe
     * Ingest a batch of runtime log entries from octomil serve. Creates LogEntry records that appear in the device activity feed. Logs are accepted and stored regardless of whether the device_id is registered.
     * @param logsIngestRuntimeRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return LogsIngestRuntime200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logsIngestRuntime(logsIngestRuntimeRequest: LogsIngestRuntimeRequest, idempotencyKey: kotlin.String? = null) : LogsIngestRuntime200Response {
        val localVarResponse = logsIngestRuntimeWithHttpInfo(logsIngestRuntimeRequest = logsIngestRuntimeRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LogsIngestRuntime200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Ingest a batch of runtime log entries from octomil serve. Creates LogEntry records that appear in the device activity fe
     * Ingest a batch of runtime log entries from octomil serve. Creates LogEntry records that appear in the device activity feed. Logs are accepted and stored regardless of whether the device_id is registered.
     * @param logsIngestRuntimeRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<LogsIngestRuntime200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logsIngestRuntimeWithHttpInfo(logsIngestRuntimeRequest: LogsIngestRuntimeRequest, idempotencyKey: kotlin.String?) : ApiResponse<LogsIngestRuntime200Response?> {
        val localVariableConfig = logsIngestRuntimeRequestConfig(logsIngestRuntimeRequest = logsIngestRuntimeRequest, idempotencyKey = idempotencyKey)

        return request<LogsIngestRuntimeRequest, LogsIngestRuntime200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logsIngestRuntime
     *
     * @param logsIngestRuntimeRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun logsIngestRuntimeRequestConfig(logsIngestRuntimeRequest: LogsIngestRuntimeRequest, idempotencyKey: kotlin.String?) : RequestConfig<LogsIngestRuntimeRequest> {
        val localVariableBody = logsIngestRuntimeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/log-entries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List log entries for an org with optional level, service, device, trace, and full-text filters. Supports offset-based pa
     * List log entries for an org with optional level, service, device, trace, and full-text filters. Supports offset-based pagination.
     * @param orgId 
     * @param level Filter by log level (debug / info / warning / error / critical). (optional)
     * @param service  (optional)
     * @param query Full-text filter on log message. (optional)
     * @param deviceId  (optional)
     * @param traceId  (optional)
     * @param limit Maximum entries per page (1–500, default 100). (optional)
     * @param offset  (optional)
     * @return LogsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logsList(orgId: kotlin.String, level: kotlin.String? = null, service: kotlin.String? = null, query: kotlin.String? = null, deviceId: kotlin.String? = null, traceId: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null) : LogsList200Response {
        val localVarResponse = logsListWithHttpInfo(orgId = orgId, level = level, service = service, query = query, deviceId = deviceId, traceId = traceId, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LogsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List log entries for an org with optional level, service, device, trace, and full-text filters. Supports offset-based pa
     * List log entries for an org with optional level, service, device, trace, and full-text filters. Supports offset-based pagination.
     * @param orgId 
     * @param level Filter by log level (debug / info / warning / error / critical). (optional)
     * @param service  (optional)
     * @param query Full-text filter on log message. (optional)
     * @param deviceId  (optional)
     * @param traceId  (optional)
     * @param limit Maximum entries per page (1–500, default 100). (optional)
     * @param offset  (optional)
     * @return ApiResponse<LogsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logsListWithHttpInfo(orgId: kotlin.String, level: kotlin.String?, service: kotlin.String?, query: kotlin.String?, deviceId: kotlin.String?, traceId: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<LogsList200Response?> {
        val localVariableConfig = logsListRequestConfig(orgId = orgId, level = level, service = service, query = query, deviceId = deviceId, traceId = traceId, limit = limit, offset = offset)

        return request<Unit, LogsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logsList
     *
     * @param orgId 
     * @param level Filter by log level (debug / info / warning / error / critical). (optional)
     * @param service  (optional)
     * @param query Full-text filter on log message. (optional)
     * @param deviceId  (optional)
     * @param traceId  (optional)
     * @param limit Maximum entries per page (1–500, default 100). (optional)
     * @param offset  (optional)
     * @return RequestConfig
     */
    fun logsListRequestConfig(orgId: kotlin.String, level: kotlin.String?, service: kotlin.String?, query: kotlin.String?, deviceId: kotlin.String?, traceId: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
                if (level != null) {
                    put("level", listOf(level.toString()))
                }
                if (service != null) {
                    put("service", listOf(service.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (deviceId != null) {
                    put("device_id", listOf(deviceId.toString()))
                }
                if (traceId != null) {
                    put("trace_id", listOf(traceId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/logs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Advanced log query using a request body for complex filter combinations. Equivalent to logs.list but accepts filters as 
     * Advanced log query using a request body for complex filter combinations. Equivalent to logs.list but accepts filters as a POST body.
     * @param logsQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return LogsQuery200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logsQuery(logsQueryRequest: LogsQueryRequest, idempotencyKey: kotlin.String? = null) : LogsQuery200Response {
        val localVarResponse = logsQueryWithHttpInfo(logsQueryRequest = logsQueryRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LogsQuery200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Advanced log query using a request body for complex filter combinations. Equivalent to logs.list but accepts filters as 
     * Advanced log query using a request body for complex filter combinations. Equivalent to logs.list but accepts filters as a POST body.
     * @param logsQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<LogsQuery200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logsQueryWithHttpInfo(logsQueryRequest: LogsQueryRequest, idempotencyKey: kotlin.String?) : ApiResponse<LogsQuery200Response?> {
        val localVariableConfig = logsQueryRequestConfig(logsQueryRequest = logsQueryRequest, idempotencyKey = idempotencyKey)

        return request<LogsQueryRequest, LogsQuery200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logsQuery
     *
     * @param logsQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun logsQueryRequestConfig(logsQueryRequest: LogsQueryRequest, idempotencyKey: kotlin.String?) : RequestConfig<LogsQueryRequest> {
        val localVariableBody = logsQueryRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/logs/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
