// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.AlertRuleResponse
import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.Incident
import ai.octomil.generated.transport.models.MonitoringAlertsCreate200Response
import ai.octomil.generated.transport.models.MonitoringAlertsCreateRequest
import ai.octomil.generated.transport.models.MonitoringAlertsDelete200Response
import ai.octomil.generated.transport.models.MonitoringAlertsList200ResponseInner
import ai.octomil.generated.transport.models.MonitoringIncidentsCreateRequest
import ai.octomil.generated.transport.models.MonitoringIncidentsStats200Response
import ai.octomil.generated.transport.models.MonitoringIncidentsUpdateRequest
import ai.octomil.generated.transport.models.UpdateAlertRuleRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class MonitoringApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Unified org-wide activity feed of deployment events and cloud usage, newest first. Supports cursor-based pagination via 
     * Unified org-wide activity feed of deployment events and cloud usage, newest first. Supports cursor-based pagination via the before parameter.
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param before Cursor — return events before this timestamp or ID. (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringActivity(limit: kotlin.Int? = null, before: kotlin.String? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringActivityWithHttpInfo(limit = limit, before = before)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Unified org-wide activity feed of deployment events and cloud usage, newest first. Supports cursor-based pagination via 
     * Unified org-wide activity feed of deployment events and cloud usage, newest first. Supports cursor-based pagination via the before parameter.
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param before Cursor — return events before this timestamp or ID. (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringActivityWithHttpInfo(limit: kotlin.Int?, before: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringActivityRequestConfig(limit = limit, before = before)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringActivity
     *
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param before Cursor — return events before this timestamp or ID. (optional)
     * @return RequestConfig
     */
    fun monitoringActivityRequestConfig(limit: kotlin.Int?, before: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (before != null) {
                    put("before", listOf(before.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/activity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Create an alert rule that watches a named metric and fires when it crosses the configured threshold over the evaluation 
     * Create an alert rule that watches a named metric and fires when it crosses the configured threshold over the evaluation window. Returns the new rule&#39;s identity; call &#x60;monitoring.alerts.get&#x60; for the full object.
     * @param orgId 
     * @param monitoringAlertsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate alert rule.  (optional)
     * @return MonitoringAlertsCreate200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAlertsCreate(orgId: kotlin.String, monitoringAlertsCreateRequest: MonitoringAlertsCreateRequest, idempotencyKey: kotlin.String? = null) : MonitoringAlertsCreate200Response {
        val localVarResponse = monitoringAlertsCreateWithHttpInfo(orgId = orgId, monitoringAlertsCreateRequest = monitoringAlertsCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MonitoringAlertsCreate200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create an alert rule that watches a named metric and fires when it crosses the configured threshold over the evaluation 
     * Create an alert rule that watches a named metric and fires when it crosses the configured threshold over the evaluation window. Returns the new rule&#39;s identity; call &#x60;monitoring.alerts.get&#x60; for the full object.
     * @param orgId 
     * @param monitoringAlertsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate alert rule.  (optional)
     * @return ApiResponse<MonitoringAlertsCreate200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAlertsCreateWithHttpInfo(orgId: kotlin.String, monitoringAlertsCreateRequest: MonitoringAlertsCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<MonitoringAlertsCreate200Response?> {
        val localVariableConfig = monitoringAlertsCreateRequestConfig(orgId = orgId, monitoringAlertsCreateRequest = monitoringAlertsCreateRequest, idempotencyKey = idempotencyKey)

        return request<MonitoringAlertsCreateRequest, MonitoringAlertsCreate200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAlertsCreate
     *
     * @param orgId 
     * @param monitoringAlertsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate alert rule.  (optional)
     * @return RequestConfig
     */
    fun monitoringAlertsCreateRequestConfig(orgId: kotlin.String, monitoringAlertsCreateRequest: MonitoringAlertsCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<MonitoringAlertsCreateRequest> {
        val localVariableBody = monitoringAlertsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/monitoring/alerts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Delete an alert rule. Verifies org_id ownership before deletion.
     * Delete an alert rule. Verifies org_id ownership before deletion.
     * @param ruleId 
     * @param orgId 
     * @return MonitoringAlertsDelete200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAlertsDelete(ruleId: kotlin.String, orgId: kotlin.String) : MonitoringAlertsDelete200Response {
        val localVarResponse = monitoringAlertsDeleteWithHttpInfo(ruleId = ruleId, orgId = orgId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MonitoringAlertsDelete200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Delete an alert rule. Verifies org_id ownership before deletion.
     * Delete an alert rule. Verifies org_id ownership before deletion.
     * @param ruleId 
     * @param orgId 
     * @return ApiResponse<MonitoringAlertsDelete200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAlertsDeleteWithHttpInfo(ruleId: kotlin.String, orgId: kotlin.String) : ApiResponse<MonitoringAlertsDelete200Response?> {
        val localVariableConfig = monitoringAlertsDeleteRequestConfig(ruleId = ruleId, orgId = orgId)

        return request<Unit, MonitoringAlertsDelete200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAlertsDelete
     *
     * @param ruleId 
     * @param orgId 
     * @return RequestConfig
     */
    fun monitoringAlertsDeleteRequestConfig(ruleId: kotlin.String, orgId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/monitoring/alerts/{rule_id}".replace("{"+"rule_id"+"}", encodeURIComponent(ruleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Get full details for a single alert rule. Scoped by org_id.
     * Get full details for a single alert rule. Scoped by org_id.
     * @param ruleId 
     * @param orgId 
     * @return AlertRuleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAlertsGet(ruleId: kotlin.String, orgId: kotlin.String) : AlertRuleResponse {
        val localVarResponse = monitoringAlertsGetWithHttpInfo(ruleId = ruleId, orgId = orgId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AlertRuleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get full details for a single alert rule. Scoped by org_id.
     * Get full details for a single alert rule. Scoped by org_id.
     * @param ruleId 
     * @param orgId 
     * @return ApiResponse<AlertRuleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAlertsGetWithHttpInfo(ruleId: kotlin.String, orgId: kotlin.String) : ApiResponse<AlertRuleResponse?> {
        val localVariableConfig = monitoringAlertsGetRequestConfig(ruleId = ruleId, orgId = orgId)

        return request<Unit, AlertRuleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAlertsGet
     *
     * @param ruleId 
     * @param orgId 
     * @return RequestConfig
     */
    fun monitoringAlertsGetRequestConfig(ruleId: kotlin.String, orgId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/alerts/{rule_id}".replace("{"+"rule_id"+"}", encodeURIComponent(ruleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List alert rules in an org. Returns a bare array (not envelope) because alert rules are bounded and the dashboard render
     * List alert rules in an org. Returns a bare array (not envelope) because alert rules are bounded and the dashboard renders them in a single table.
     * @param orgId 
     * @param enabled Optional filter. &#x60;true&#x60; returns only enabled rules; &#x60;false&#x60; only disabled. Omit to return both.  (optional)
     * @return kotlin.collections.List<MonitoringAlertsList200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAlertsList(orgId: kotlin.String, enabled: kotlin.Boolean? = null) : kotlin.collections.List<MonitoringAlertsList200ResponseInner> {
        val localVarResponse = monitoringAlertsListWithHttpInfo(orgId = orgId, enabled = enabled)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<MonitoringAlertsList200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List alert rules in an org. Returns a bare array (not envelope) because alert rules are bounded and the dashboard render
     * List alert rules in an org. Returns a bare array (not envelope) because alert rules are bounded and the dashboard renders them in a single table.
     * @param orgId 
     * @param enabled Optional filter. &#x60;true&#x60; returns only enabled rules; &#x60;false&#x60; only disabled. Omit to return both.  (optional)
     * @return ApiResponse<kotlin.collections.List<MonitoringAlertsList200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAlertsListWithHttpInfo(orgId: kotlin.String, enabled: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<MonitoringAlertsList200ResponseInner>?> {
        val localVariableConfig = monitoringAlertsListRequestConfig(orgId = orgId, enabled = enabled)

        return request<Unit, kotlin.collections.List<MonitoringAlertsList200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAlertsList
     *
     * @param orgId 
     * @param enabled Optional filter. &#x60;true&#x60; returns only enabled rules; &#x60;false&#x60; only disabled. Omit to return both.  (optional)
     * @return RequestConfig
     */
    fun monitoringAlertsListRequestConfig(orgId: kotlin.String, enabled: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
                if (enabled != null) {
                    put("enabled", listOf(enabled.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/alerts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Partially update an alert rule. Only whitelisted fields are applied.
     * Partially update an alert rule. Only whitelisted fields are applied.
     * @param ruleId 
     * @param orgId 
     * @param updateAlertRuleRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return AlertRuleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAlertsUpdate(ruleId: kotlin.String, orgId: kotlin.String, updateAlertRuleRequest: UpdateAlertRuleRequest, idempotencyKey: kotlin.String? = null) : AlertRuleResponse {
        val localVarResponse = monitoringAlertsUpdateWithHttpInfo(ruleId = ruleId, orgId = orgId, updateAlertRuleRequest = updateAlertRuleRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AlertRuleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Partially update an alert rule. Only whitelisted fields are applied.
     * Partially update an alert rule. Only whitelisted fields are applied.
     * @param ruleId 
     * @param orgId 
     * @param updateAlertRuleRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<AlertRuleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAlertsUpdateWithHttpInfo(ruleId: kotlin.String, orgId: kotlin.String, updateAlertRuleRequest: UpdateAlertRuleRequest, idempotencyKey: kotlin.String?) : ApiResponse<AlertRuleResponse?> {
        val localVariableConfig = monitoringAlertsUpdateRequestConfig(ruleId = ruleId, orgId = orgId, updateAlertRuleRequest = updateAlertRuleRequest, idempotencyKey = idempotencyKey)

        return request<UpdateAlertRuleRequest, AlertRuleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAlertsUpdate
     *
     * @param ruleId 
     * @param orgId 
     * @param updateAlertRuleRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun monitoringAlertsUpdateRequestConfig(ruleId: kotlin.String, orgId: kotlin.String, updateAlertRuleRequest: UpdateAlertRuleRequest, idempotencyKey: kotlin.String?) : RequestConfig<UpdateAlertRuleRequest> {
        val localVariableBody = updateAlertRuleRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/monitoring/alerts/{rule_id}".replace("{"+"rule_id"+"}", encodeURIComponent(ruleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return aggregated monitoring metrics for a single app. Computed by MonitoringService.get_app_metrics(). Powers the app d
     * Return aggregated monitoring metrics for a single app. Computed by MonitoringService.get_app_metrics(). Powers the app detail page monitoring tab.
     * @param appId 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGet(appId: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = monitoringAppsGetWithHttpInfo(appId = appId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return aggregated monitoring metrics for a single app. Computed by MonitoringService.get_app_metrics(). Powers the app d
     * Return aggregated monitoring metrics for a single app. Computed by MonitoringService.get_app_metrics(). Powers the app detail page monitoring tab.
     * @param appId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetWithHttpInfo(appId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = monitoringAppsGetRequestConfig(appId = appId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGet
     *
     * @param appId 
     * @return RequestConfig
     */
    fun monitoringAppsGetRequestConfig(appId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return monitoring metrics for a specific capability within an app. Computed by MonitoringService.get_capability_metrics(
     * Return monitoring metrics for a specific capability within an app. Computed by MonitoringService.get_capability_metrics(app_id, capability). Enables per-capability drill-down on the app monitoring page.
     * @param appId 
     * @param capability Capability key (e.g. chat, transcription, embedding).
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetCapability(appId: kotlin.String, capability: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = monitoringAppsGetCapabilityWithHttpInfo(appId = appId, capability = capability)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return monitoring metrics for a specific capability within an app. Computed by MonitoringService.get_capability_metrics(
     * Return monitoring metrics for a specific capability within an app. Computed by MonitoringService.get_capability_metrics(app_id, capability). Enables per-capability drill-down on the app monitoring page.
     * @param appId 
     * @param capability Capability key (e.g. chat, transcription, embedding).
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetCapabilityWithHttpInfo(appId: kotlin.String, capability: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = monitoringAppsGetCapabilityRequestConfig(appId = appId, capability = capability)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetCapability
     *
     * @param appId 
     * @param capability Capability key (e.g. chat, transcription, embedding).
     * @return RequestConfig
     */
    fun monitoringAppsGetCapabilityRequestConfig(appId: kotlin.String, capability: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/capabilities/{capability}".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())).replace("{"+"capability"+"}", encodeURIComponent(capability.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return time-series monitoring data scoped to a specific capability within an app. Calls MonitoringService.get_capability
     * Return time-series monitoring data scoped to a specific capability within an app. Calls MonitoringService.get_capability_metrics_timeseries( app_id, capability, start&#x3D;now-hours). Enables per-capability trend charts.
     * @param appId 
     * @param capability 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetCapabilityTimeseries(appId: kotlin.String, capability: kotlin.String, hours: kotlin.Int? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringAppsGetCapabilityTimeseriesWithHttpInfo(appId = appId, capability = capability, hours = hours)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return time-series monitoring data scoped to a specific capability within an app. Calls MonitoringService.get_capability
     * Return time-series monitoring data scoped to a specific capability within an app. Calls MonitoringService.get_capability_metrics_timeseries( app_id, capability, start&#x3D;now-hours). Enables per-capability trend charts.
     * @param appId 
     * @param capability 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetCapabilityTimeseriesWithHttpInfo(appId: kotlin.String, capability: kotlin.String, hours: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringAppsGetCapabilityTimeseriesRequestConfig(appId = appId, capability = capability, hours = hours)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetCapabilityTimeseries
     *
     * @param appId 
     * @param capability 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetCapabilityTimeseriesRequestConfig(appId: kotlin.String, capability: kotlin.String, hours: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (hours != null) {
                    put("hours", listOf(hours.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/capabilities/{capability}/timeseries".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())).replace("{"+"capability"+"}", encodeURIComponent(capability.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return recent deployment events for an app. Calls MonitoringService.get_app_deployment_events(app_id, event_type&#x3D;..., li
     * Return recent deployment events for an app. Calls MonitoringService.get_app_deployment_events(app_id, event_type&#x3D;..., limit&#x3D;...). Covers events such as version deploys, rollbacks, and status changes.
     * @param appId 
     * @param eventType Optional event type filter. (optional)
     * @param limit Maximum number of events to return (1–500, default 100). (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetEvents(appId: kotlin.String, eventType: kotlin.String? = null, limit: kotlin.Int? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringAppsGetEventsWithHttpInfo(appId = appId, eventType = eventType, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return recent deployment events for an app. Calls MonitoringService.get_app_deployment_events(app_id, event_type&#x3D;..., li
     * Return recent deployment events for an app. Calls MonitoringService.get_app_deployment_events(app_id, event_type&#x3D;..., limit&#x3D;...). Covers events such as version deploys, rollbacks, and status changes.
     * @param appId 
     * @param eventType Optional event type filter. (optional)
     * @param limit Maximum number of events to return (1–500, default 100). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetEventsWithHttpInfo(appId: kotlin.String, eventType: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringAppsGetEventsRequestConfig(appId = appId, eventType = eventType, limit = limit)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetEvents
     *
     * @param appId 
     * @param eventType Optional event type filter. (optional)
     * @param limit Maximum number of events to return (1–500, default 100). (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetEventsRequestConfig(appId: kotlin.String, eventType: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (eventType != null) {
                    put("event_type", listOf(eventType.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/events".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List recent runtime route events for an app with pagination. Returns RouteEventListResponse with events[], total, limit,
     * List recent runtime route events for an app with pagination. Returns RouteEventListResponse with events[], total, limit, offset. Each event is built from RuntimeRouteEvent.to_event_dict() via _build_event_response(). Distinct from monitoring.apps.get_events which returns deployment events.
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param offset Pagination offset (default 0). (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetRuntimeEvents(appId: kotlin.String, timeframe: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null) : Unit {
        val localVarResponse = monitoringAppsGetRuntimeEventsWithHttpInfo(appId = appId, timeframe = timeframe, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List recent runtime route events for an app with pagination. Returns RouteEventListResponse with events[], total, limit,
     * List recent runtime route events for an app with pagination. Returns RouteEventListResponse with events[], total, limit, offset. Each event is built from RuntimeRouteEvent.to_event_dict() via _build_event_response(). Distinct from monitoring.apps.get_events which returns deployment events.
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param offset Pagination offset (default 0). (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetRuntimeEventsWithHttpInfo(appId: kotlin.String, timeframe: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = monitoringAppsGetRuntimeEventsRequestConfig(appId = appId, timeframe = timeframe, limit = limit, offset = offset)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetRuntimeEvents
     *
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @param limit Maximum events to return (1–100, default 20). (optional)
     * @param offset Pagination offset (default 0). (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetRuntimeEventsRequestConfig(appId: kotlin.String, timeframe: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (timeframe != null) {
                    put("timeframe", listOf(timeframe.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/runtime/events".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return aggregated runtime request telemetry for an app, derived from RuntimeRouteEvent records. Loads up to 10,000 event
     * Return aggregated runtime request telemetry for an app, derived from RuntimeRouteEvent records. Loads up to 10,000 events within the timeframe and passes them to _build_monitoring_summary_response(). Distinct from monitoring.apps.get which reads from MonitoringService.
     * @param appId 
     * @param timeframe Time window for runtime event aggregation. Enum values match the Timeframe enum in runtime_monitoring.py: one_hour, six_hours, twenty_four_hours (default), seven_days, thirty_days.  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetRuntimeSummary(appId: kotlin.String, timeframe: kotlin.String? = null) : Unit {
        val localVarResponse = monitoringAppsGetRuntimeSummaryWithHttpInfo(appId = appId, timeframe = timeframe)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return aggregated runtime request telemetry for an app, derived from RuntimeRouteEvent records. Loads up to 10,000 event
     * Return aggregated runtime request telemetry for an app, derived from RuntimeRouteEvent records. Loads up to 10,000 events within the timeframe and passes them to _build_monitoring_summary_response(). Distinct from monitoring.apps.get which reads from MonitoringService.
     * @param appId 
     * @param timeframe Time window for runtime event aggregation. Enum values match the Timeframe enum in runtime_monitoring.py: one_hour, six_hours, twenty_four_hours (default), seven_days, thirty_days.  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetRuntimeSummaryWithHttpInfo(appId: kotlin.String, timeframe: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = monitoringAppsGetRuntimeSummaryRequestConfig(appId = appId, timeframe = timeframe)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetRuntimeSummary
     *
     * @param appId 
     * @param timeframe Time window for runtime event aggregation. Enum values match the Timeframe enum in runtime_monitoring.py: one_hour, six_hours, twenty_four_hours (default), seven_days, thirty_days.  (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetRuntimeSummaryRequestConfig(appId: kotlin.String, timeframe: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (timeframe != null) {
                    put("timeframe", listOf(timeframe.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/runtime".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return bucketed runtime request count time-series for an app. Loads up to 10,000 RuntimeRouteEvent records within the ti
     * Return bucketed runtime request count time-series for an app. Loads up to 10,000 RuntimeRouteEvent records within the timeframe and passes them to _build_runtime_timeseries_response(). Used to render throughput trend charts on the app monitoring page.
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetRuntimeTimeseries(appId: kotlin.String, timeframe: kotlin.String? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringAppsGetRuntimeTimeseriesWithHttpInfo(appId = appId, timeframe = timeframe)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return bucketed runtime request count time-series for an app. Loads up to 10,000 RuntimeRouteEvent records within the ti
     * Return bucketed runtime request count time-series for an app. Loads up to 10,000 RuntimeRouteEvent records within the timeframe and passes them to _build_runtime_timeseries_response(). Used to render throughput trend charts on the app monitoring page.
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetRuntimeTimeseriesWithHttpInfo(appId: kotlin.String, timeframe: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringAppsGetRuntimeTimeseriesRequestConfig(appId = appId, timeframe = timeframe)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetRuntimeTimeseries
     *
     * @param appId 
     * @param timeframe Time window enum (one_hour, six_hours, twenty_four_hours [default], seven_days, thirty_days). (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetRuntimeTimeseriesRequestConfig(appId: kotlin.String, timeframe: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (timeframe != null) {
                    put("timeframe", listOf(timeframe.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/runtime/timeseries".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return time-series monitoring data for an app. Calls MonitoringService.get_app_metrics_timeseries(app_id, start&#x3D;now-hour
     * Return time-series monitoring data for an app. Calls MonitoringService.get_app_metrics_timeseries(app_id, start&#x3D;now-hours). Used to render metric trend charts on the app monitoring page.
     * @param appId 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringAppsGetTimeseries(appId: kotlin.String, hours: kotlin.Int? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringAppsGetTimeseriesWithHttpInfo(appId = appId, hours = hours)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return time-series monitoring data for an app. Calls MonitoringService.get_app_metrics_timeseries(app_id, start&#x3D;now-hour
     * Return time-series monitoring data for an app. Calls MonitoringService.get_app_metrics_timeseries(app_id, start&#x3D;now-hours). Used to render metric trend charts on the app monitoring page.
     * @param appId 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringAppsGetTimeseriesWithHttpInfo(appId: kotlin.String, hours: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringAppsGetTimeseriesRequestConfig(appId = appId, hours = hours)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringAppsGetTimeseries
     *
     * @param appId 
     * @param hours Lookback window in hours (1–720, default 24). (optional)
     * @return RequestConfig
     */
    fun monitoringAppsGetTimeseriesRequestConfig(appId: kotlin.String, hours: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (hours != null) {
                    put("hours", listOf(hours.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/apps/{app_id}/timeseries".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List monitoring events for a deployment — lifecycle transitions, rollout steps, health gate evaluations, and governance 
     * List monitoring events for a deployment — lifecycle transitions, rollout steps, health gate evaluations, and governance actions. Designed for the deployment detail page&#39;s activity/events timeline. Events are fetched from MonitoringService.get_deployment_events(), which aggregates across the deployment_events table and any correlated rollout history entries.
     * @param deploymentId 
     * @param eventType Filter to a specific event type string (e.g. &#x60;approval_requested&#x60;, &#x60;started&#x60;, &#x60;paused&#x60;, &#x60;rolled_back&#x60;). Omit to return all event types.  (optional)
     * @param limit Maximum number of events to return. (optional, default to 100)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringDeploymentsEvents(deploymentId: kotlin.String, eventType: kotlin.String? = null, limit: kotlin.Int? = 100) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = monitoringDeploymentsEventsWithHttpInfo(deploymentId = deploymentId, eventType = eventType, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List monitoring events for a deployment — lifecycle transitions, rollout steps, health gate evaluations, and governance 
     * List monitoring events for a deployment — lifecycle transitions, rollout steps, health gate evaluations, and governance actions. Designed for the deployment detail page&#39;s activity/events timeline. Events are fetched from MonitoringService.get_deployment_events(), which aggregates across the deployment_events table and any correlated rollout history entries.
     * @param deploymentId 
     * @param eventType Filter to a specific event type string (e.g. &#x60;approval_requested&#x60;, &#x60;started&#x60;, &#x60;paused&#x60;, &#x60;rolled_back&#x60;). Omit to return all event types.  (optional)
     * @param limit Maximum number of events to return. (optional, default to 100)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringDeploymentsEventsWithHttpInfo(deploymentId: kotlin.String, eventType: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = monitoringDeploymentsEventsRequestConfig(deploymentId = deploymentId, eventType = eventType, limit = limit)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringDeploymentsEvents
     *
     * @param deploymentId 
     * @param eventType Filter to a specific event type string (e.g. &#x60;approval_requested&#x60;, &#x60;started&#x60;, &#x60;paused&#x60;, &#x60;rolled_back&#x60;). Omit to return all event types.  (optional)
     * @param limit Maximum number of events to return. (optional, default to 100)
     * @return RequestConfig
     */
    fun monitoringDeploymentsEventsRequestConfig(deploymentId: kotlin.String, eventType: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (eventType != null) {
                    put("event_type", listOf(eventType.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/deployments/{deployment_id}/events".replace("{"+"deployment_id"+"}", encodeURIComponent(deploymentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return aggregated runtime monitoring metrics for a single deployment. Computed by MonitoringService.get_deployment_metri
     * Return aggregated runtime monitoring metrics for a single deployment. Computed by MonitoringService.get_deployment_metrics() from the most recent telemetry ingested for this deployment_id. This endpoint drives the deployment detail page&#39;s \&quot;Monitoring\&quot; tab.
     * @param deploymentId 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringDeploymentsGet(deploymentId: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = monitoringDeploymentsGetWithHttpInfo(deploymentId = deploymentId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return aggregated runtime monitoring metrics for a single deployment. Computed by MonitoringService.get_deployment_metri
     * Return aggregated runtime monitoring metrics for a single deployment. Computed by MonitoringService.get_deployment_metrics() from the most recent telemetry ingested for this deployment_id. This endpoint drives the deployment detail page&#39;s \&quot;Monitoring\&quot; tab.
     * @param deploymentId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringDeploymentsGetWithHttpInfo(deploymentId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = monitoringDeploymentsGetRequestConfig(deploymentId = deploymentId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringDeploymentsGet
     *
     * @param deploymentId 
     * @return RequestConfig
     */
    fun monitoringDeploymentsGetRequestConfig(deploymentId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/deployments/{deployment_id}".replace("{"+"deployment_id"+"}", encodeURIComponent(deploymentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return aggregated monitoring metrics for a single device. Computed by MonitoringService.get_device_metrics(). Covers inf
     * Return aggregated monitoring metrics for a single device. Computed by MonitoringService.get_device_metrics(). Covers inference activity, heartbeat health, and device assignment state as available in the monitoring service.
     * @param deviceId 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringDevicesGet(deviceId: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = monitoringDevicesGetWithHttpInfo(deviceId = deviceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return aggregated monitoring metrics for a single device. Computed by MonitoringService.get_device_metrics(). Covers inf
     * Return aggregated monitoring metrics for a single device. Computed by MonitoringService.get_device_metrics(). Covers inference activity, heartbeat health, and device assignment state as available in the monitoring service.
     * @param deviceId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringDevicesGetWithHttpInfo(deviceId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = monitoringDevicesGetRequestConfig(deviceId = deviceId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringDevicesGet
     *
     * @param deviceId 
     * @return RequestConfig
     */
    fun monitoringDevicesGetRequestConfig(deviceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/devices/{device_id}".replace("{"+"device_id"+"}", encodeURIComponent(deviceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Create an incident, optionally linked to an alert rule. On success notifies verified status-page subscribers and dispatc
     * Create an incident, optionally linked to an alert rule. On success notifies verified status-page subscribers and dispatches &#x60;incident.created&#x60; to configured webhooks (Slack, PagerDuty, etc.) in the background.
     * @param orgId 
     * @param monitoringIncidentsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate incident.  (optional)
     * @return Incident
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringIncidentsCreate(orgId: kotlin.String, monitoringIncidentsCreateRequest: MonitoringIncidentsCreateRequest, idempotencyKey: kotlin.String? = null) : Incident {
        val localVarResponse = monitoringIncidentsCreateWithHttpInfo(orgId = orgId, monitoringIncidentsCreateRequest = monitoringIncidentsCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Incident
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create an incident, optionally linked to an alert rule. On success notifies verified status-page subscribers and dispatc
     * Create an incident, optionally linked to an alert rule. On success notifies verified status-page subscribers and dispatches &#x60;incident.created&#x60; to configured webhooks (Slack, PagerDuty, etc.) in the background.
     * @param orgId 
     * @param monitoringIncidentsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate incident.  (optional)
     * @return ApiResponse<Incident?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringIncidentsCreateWithHttpInfo(orgId: kotlin.String, monitoringIncidentsCreateRequest: MonitoringIncidentsCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<Incident?> {
        val localVariableConfig = monitoringIncidentsCreateRequestConfig(orgId = orgId, monitoringIncidentsCreateRequest = monitoringIncidentsCreateRequest, idempotencyKey = idempotencyKey)

        return request<MonitoringIncidentsCreateRequest, Incident>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringIncidentsCreate
     *
     * @param orgId 
     * @param monitoringIncidentsCreateRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without creating a duplicate incident.  (optional)
     * @return RequestConfig
     */
    fun monitoringIncidentsCreateRequestConfig(orgId: kotlin.String, monitoringIncidentsCreateRequest: MonitoringIncidentsCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<MonitoringIncidentsCreateRequest> {
        val localVariableBody = monitoringIncidentsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/monitoring/incidents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List incidents for an org. Used by the dashboard&#39;s incidents panel and by SRE consoles aggregating across orgs (per-org 
     * List incidents for an org. Used by the dashboard&#39;s incidents panel and by SRE consoles aggregating across orgs (per-org call).
     * @param orgId 
     * @param status Optional filter. Server-side enum values: &#x60;open | acknowledged | investigating | resolved | closed&#x60;. Omit to return all statuses.  (optional)
     * @param limit Maximum incidents returned. (optional, default to 50)
     * @return kotlin.collections.List<Incident>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringIncidentsList(orgId: kotlin.String, status: kotlin.String? = null, limit: kotlin.Int? = 50) : kotlin.collections.List<Incident> {
        val localVarResponse = monitoringIncidentsListWithHttpInfo(orgId = orgId, status = status, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Incident>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List incidents for an org. Used by the dashboard&#39;s incidents panel and by SRE consoles aggregating across orgs (per-org 
     * List incidents for an org. Used by the dashboard&#39;s incidents panel and by SRE consoles aggregating across orgs (per-org call).
     * @param orgId 
     * @param status Optional filter. Server-side enum values: &#x60;open | acknowledged | investigating | resolved | closed&#x60;. Omit to return all statuses.  (optional)
     * @param limit Maximum incidents returned. (optional, default to 50)
     * @return ApiResponse<kotlin.collections.List<Incident>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun monitoringIncidentsListWithHttpInfo(orgId: kotlin.String, status: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<Incident>?> {
        val localVariableConfig = monitoringIncidentsListRequestConfig(orgId = orgId, status = status, limit = limit)

        return request<Unit, kotlin.collections.List<Incident>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation monitoringIncidentsList
     *
     * @param orgId 
     * @param status Optional filter. Server-side enum values: &#x60;open | acknowledged | investigating | resolved | closed&#x60;. Omit to return all statuses.  (optional)
     * @param limit Maximum incidents returned. (optional, default to 50)
     * @return RequestConfig
     */
    fun monitoringIncidentsListRequestConfig(orgId: kotlin.String, status: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("org_id", listOf(orgId.toString()))
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/monitoring/incidents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Rollup statistics for the incidents panel. Single aggregated call so the dashboard doesn&#39;t need to compute MTTR / resolu
     * Rollup statistics for the incidents panel. Single aggregated call so the dashboard doesn&#39;t need to compute MTTR / resolution rate client-side.
     * @param orgId 
     * @param days Look-back window in days. (optional, default to 30)
     * @return MonitoringIncidentsStats200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun monitoringIncidentsStats(orgId: kotlin.String, days: kotlin.Int? = 30) : MonitoringIncidentsStats200Response {
        val localVarResponse = monitoringIncidentsStatsWithHttpInfo(orgId = orgId, days = days)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MonitoringIncidentsStats200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Rollup statistics for the incidents panel. Single aggregated call so the dashboard doesn&#39;t need to compute MTTR / resolu
     * Rollup statistics for the incidents panel. Single aggregated call so the dashboard doesn&#39;t need to compute MTTR / resolution rate client-side.
     * @param orgId 
     * @param days Look-back window in days. (optional, default to 30)
[...]
