// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.RouteDecide200Response
import ai.octomil.generated.transport.models.RouteDecideRequest
import ai.octomil.generated.transport.models.RouteDecisionGet200Response
import ai.octomil.generated.transport.models.RoutePolicyGet200Response
import ai.octomil.generated.transport.models.RouteQuery200Response
import ai.octomil.generated.transport.models.RouteQueryRequest
import ai.octomil.generated.transport.models.RouteServingPolicyPresets200ResponseInner
import ai.octomil.generated.transport.models.RouteStatsGet200Response

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class RouteApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Compute and return a routing decision. Given model parameters and device capabilities, returns the optimal execution tar
     * Compute and return a routing decision. Given model parameters and device capabilities, returns the optimal execution target (device vs cloud), format, engine, and quantization. When deployment_id is supplied the deployment&#39;s serving_policy overrides the prefer hint; an active serving_policy experiment takes precedence over the deployment policy.
     * @param routeDecideRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RouteDecide200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routeDecide(routeDecideRequest: RouteDecideRequest, idempotencyKey: kotlin.String? = null) : RouteDecide200Response {
        val localVarResponse = routeDecideWithHttpInfo(routeDecideRequest = routeDecideRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteDecide200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Compute and return a routing decision. Given model parameters and device capabilities, returns the optimal execution tar
     * Compute and return a routing decision. Given model parameters and device capabilities, returns the optimal execution target (device vs cloud), format, engine, and quantization. When deployment_id is supplied the deployment&#39;s serving_policy overrides the prefer hint; an active serving_policy experiment takes precedence over the deployment policy.
     * @param routeDecideRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<RouteDecide200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routeDecideWithHttpInfo(routeDecideRequest: RouteDecideRequest, idempotencyKey: kotlin.String?) : ApiResponse<RouteDecide200Response?> {
        val localVariableConfig = routeDecideRequestConfig(routeDecideRequest = routeDecideRequest, idempotencyKey = idempotencyKey)

        return request<RouteDecideRequest, RouteDecide200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routeDecide
     *
     * @param routeDecideRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun routeDecideRequestConfig(routeDecideRequest: RouteDecideRequest, idempotencyKey: kotlin.String?) : RequestConfig<RouteDecideRequest> {
        val localVariableBody = routeDecideRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/route",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve a routing decision from the in-memory decision store by decision_id. The in-memory store is ephemeral; decision
     * Retrieve a routing decision from the in-memory decision store by decision_id. The in-memory store is ephemeral; decisions may expire or be evicted. For persistent history use route.decisions.list.
     * @param decisionId 
     * @return RouteDecisionGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routeDecisionGet(decisionId: kotlin.String) : RouteDecisionGet200Response {
        val localVarResponse = routeDecisionGetWithHttpInfo(decisionId = decisionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteDecisionGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a routing decision from the in-memory decision store by decision_id. The in-memory store is ephemeral; decision
     * Retrieve a routing decision from the in-memory decision store by decision_id. The in-memory store is ephemeral; decisions may expire or be evicted. For persistent history use route.decisions.list.
     * @param decisionId 
     * @return ApiResponse<RouteDecisionGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routeDecisionGetWithHttpInfo(decisionId: kotlin.String) : ApiResponse<RouteDecisionGet200Response?> {
        val localVariableConfig = routeDecisionGetRequestConfig(decisionId = decisionId)

        return request<Unit, RouteDecisionGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routeDecisionGet
     *
     * @param decisionId 
     * @return RequestConfig
     */
    fun routeDecisionGetRequestConfig(decisionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/route/decision/{decision_id}".replace("{"+"decision_id"+"}", encodeURIComponent(decisionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve the active routing policy for the org. Supports conditional GET via If-None-Match / ETag to avoid re-fetching a
     * Retrieve the active routing policy for the org. Supports conditional GET via If-None-Match / ETag to avoid re-fetching an unchanged policy. Response includes Cache-Control: private, max-age&#x3D;300.
     * @param ifNoneMatch ETag from a prior response for conditional GET. (optional)
     * @return RoutePolicyGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routePolicyGet(ifNoneMatch: kotlin.String? = null) : RoutePolicyGet200Response {
        val localVarResponse = routePolicyGetWithHttpInfo(ifNoneMatch = ifNoneMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RoutePolicyGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve the active routing policy for the org. Supports conditional GET via If-None-Match / ETag to avoid re-fetching a
     * Retrieve the active routing policy for the org. Supports conditional GET via If-None-Match / ETag to avoid re-fetching an unchanged policy. Response includes Cache-Control: private, max-age&#x3D;300.
     * @param ifNoneMatch ETag from a prior response for conditional GET. (optional)
     * @return ApiResponse<RoutePolicyGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routePolicyGetWithHttpInfo(ifNoneMatch: kotlin.String?) : ApiResponse<RoutePolicyGet200Response?> {
        val localVariableConfig = routePolicyGetRequestConfig(ifNoneMatch = ifNoneMatch)

        return request<Unit, RoutePolicyGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routePolicyGet
     *
     * @param ifNoneMatch ETag from a prior response for conditional GET. (optional)
     * @return RequestConfig
     */
    fun routePolicyGetRequestConfig(ifNoneMatch: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifNoneMatch?.apply { localVariableHeaders["If-None-Match"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/route/policy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Route a query (OpenAI-style message list) to the appropriate model tier based on complexity scoring. When decompose&#x3D;true
     * Route a query (OpenAI-style message list) to the appropriate model tier based on complexity scoring. When decompose&#x3D;true the server may return a DecomposedQueryRouteResponse with sub-decisions instead.
     * @param routeQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RouteQuery200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routeQuery(routeQueryRequest: RouteQueryRequest, idempotencyKey: kotlin.String? = null) : RouteQuery200Response {
        val localVarResponse = routeQueryWithHttpInfo(routeQueryRequest = routeQueryRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteQuery200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Route a query (OpenAI-style message list) to the appropriate model tier based on complexity scoring. When decompose&#x3D;true
     * Route a query (OpenAI-style message list) to the appropriate model tier based on complexity scoring. When decompose&#x3D;true the server may return a DecomposedQueryRouteResponse with sub-decisions instead.
     * @param routeQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<RouteQuery200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routeQueryWithHttpInfo(routeQueryRequest: RouteQueryRequest, idempotencyKey: kotlin.String?) : ApiResponse<RouteQuery200Response?> {
        val localVariableConfig = routeQueryRequestConfig(routeQueryRequest = routeQueryRequest, idempotencyKey = idempotencyKey)

        return request<RouteQueryRequest, RouteQuery200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routeQuery
     *
     * @param routeQueryRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun routeQueryRequestConfig(routeQueryRequest: RouteQueryRequest, idempotencyKey: kotlin.String?) : RequestConfig<RouteQueryRequest> {
        val localVariableBody = routeQueryRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/route/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List the named serving policy presets with their canonical configurations. Presets are the authoritative source for serv
     * List the named serving policy presets with their canonical configurations. Presets are the authoritative source for serving policy defaults; use these names when configuring deployments.
     * @return kotlin.collections.List<RouteServingPolicyPresets200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routeServingPolicyPresets() : kotlin.collections.List<RouteServingPolicyPresets200ResponseInner> {
        val localVarResponse = routeServingPolicyPresetsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<RouteServingPolicyPresets200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List the named serving policy presets with their canonical configurations. Presets are the authoritative source for serv
     * List the named serving policy presets with their canonical configurations. Presets are the authoritative source for serving policy defaults; use these names when configuring deployments.
     * @return ApiResponse<kotlin.collections.List<RouteServingPolicyPresets200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routeServingPolicyPresetsWithHttpInfo() : ApiResponse<kotlin.collections.List<RouteServingPolicyPresets200ResponseInner>?> {
        val localVariableConfig = routeServingPolicyPresetsRequestConfig()

        return request<Unit, kotlin.collections.List<RouteServingPolicyPresets200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routeServingPolicyPresets
     *
     * @return RequestConfig
     */
    fun routeServingPolicyPresetsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/serving-policy/presets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Get aggregated routing statistics for a specific model — device vs cloud percentages, total decision count, and common r
     * Get aggregated routing statistics for a specific model — device vs cloud percentages, total decision count, and common routing reasons.
     * @param modelId Model identifier to retrieve routing statistics for.
     * @return RouteStatsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routeStatsGet(modelId: kotlin.String) : RouteStatsGet200Response {
        val localVarResponse = routeStatsGetWithHttpInfo(modelId = modelId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteStatsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get aggregated routing statistics for a specific model — device vs cloud percentages, total decision count, and common r
     * Get aggregated routing statistics for a specific model — device vs cloud percentages, total decision count, and common routing reasons.
     * @param modelId Model identifier to retrieve routing statistics for.
     * @return ApiResponse<RouteStatsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routeStatsGetWithHttpInfo(modelId: kotlin.String) : ApiResponse<RouteStatsGet200Response?> {
        val localVariableConfig = routeStatsGetRequestConfig(modelId = modelId)

        return request<Unit, RouteStatsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routeStatsGet
     *
     * @param modelId Model identifier to retrieve routing statistics for.
     * @return RequestConfig
     */
    fun routeStatsGetRequestConfig(modelId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/route/stats/{model_id}".replace("{"+"model_id"+"}", encodeURIComponent(modelId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
