// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.RoutingStatsGet200Response

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class RoutingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * List persisted routing decisions from the database, optionally filtered by model. Returns newest-first. Maximum 500 per 
     * List persisted routing decisions from the database, optionally filtered by model. Returns newest-first. Maximum 500 per call.
     * @param modelId Filter decisions by model identifier. (optional)
     * @param limit Maximum number of decisions to return (1–500, default 100). (optional)
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routingDecisionsList(modelId: kotlin.String? = null, limit: kotlin.Int? = null) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = routingDecisionsListWithHttpInfo(modelId = modelId, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List persisted routing decisions from the database, optionally filtered by model. Returns newest-first. Maximum 500 per 
     * List persisted routing decisions from the database, optionally filtered by model. Returns newest-first. Maximum 500 per call.
     * @param modelId Filter decisions by model identifier. (optional)
     * @param limit Maximum number of decisions to return (1–500, default 100). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routingDecisionsListWithHttpInfo(modelId: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = routingDecisionsListRequestConfig(modelId = modelId, limit = limit)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routingDecisionsList
     *
     * @param modelId Filter decisions by model identifier. (optional)
     * @param limit Maximum number of decisions to return (1–500, default 100). (optional)
     * @return RequestConfig
     */
    fun routingDecisionsListRequestConfig(modelId: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (modelId != null) {
                    put("model_id", listOf(modelId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/routing/decisions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Returns aggregated routing statistics from the database — local vs cloud decision counts, fallback rate, and average lat
     * Returns aggregated routing statistics from the database — local vs cloud decision counts, fallback rate, and average latency broken down by locality.
     * @return RoutingStatsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun routingStatsGet() : RoutingStatsGet200Response {
        val localVarResponse = routingStatsGetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RoutingStatsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Returns aggregated routing statistics from the database — local vs cloud decision counts, fallback rate, and average lat
     * Returns aggregated routing statistics from the database — local vs cloud decision counts, fallback rate, and average latency broken down by locality.
     * @return ApiResponse<RoutingStatsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun routingStatsGetWithHttpInfo() : ApiResponse<RoutingStatsGet200Response?> {
        val localVariableConfig = routingStatsGetRequestConfig()

        return request<Unit, RoutingStatsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation routingStatsGet
     *
     * @return RequestConfig
     */
    fun routingStatsGetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/routing/stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
