// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.RuntimeBenchmarkSubmissionResponseSchema
import ai.octomil.generated.transport.models.RuntimeBenchmarkSubmissionSchema
import ai.octomil.generated.transport.models.RuntimeDefaults200Response
import ai.octomil.generated.transport.models.RuntimeEventsGet200Response
import ai.octomil.generated.transport.models.RuntimeEventsIngest200Response
import ai.octomil.generated.transport.models.RuntimeEventsIngestRequest
import ai.octomil.generated.transport.models.RuntimeEventsList200Response
import ai.octomil.generated.transport.models.RuntimeMonitoringSummary200Response
import ai.octomil.generated.transport.models.RuntimePlanRequestSchema
import ai.octomil.generated.transport.models.RuntimePlanResponseSchema

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class RuntimeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Submit real inference benchmark results from a device.
     * Submit real inference benchmark results from a device.
     * @param runtimeBenchmarkSubmissionSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RuntimeBenchmarkSubmissionResponseSchema
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeBenchmarksSubmit(runtimeBenchmarkSubmissionSchema: RuntimeBenchmarkSubmissionSchema, idempotencyKey: kotlin.String? = null) : RuntimeBenchmarkSubmissionResponseSchema {
        val localVarResponse = runtimeBenchmarksSubmitWithHttpInfo(runtimeBenchmarkSubmissionSchema = runtimeBenchmarkSubmissionSchema, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeBenchmarkSubmissionResponseSchema
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Submit real inference benchmark results from a device.
     * Submit real inference benchmark results from a device.
     * @param runtimeBenchmarkSubmissionSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<RuntimeBenchmarkSubmissionResponseSchema?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeBenchmarksSubmitWithHttpInfo(runtimeBenchmarkSubmissionSchema: RuntimeBenchmarkSubmissionSchema, idempotencyKey: kotlin.String?) : ApiResponse<RuntimeBenchmarkSubmissionResponseSchema?> {
        val localVariableConfig = runtimeBenchmarksSubmitRequestConfig(runtimeBenchmarkSubmissionSchema = runtimeBenchmarkSubmissionSchema, idempotencyKey = idempotencyKey)

        return request<RuntimeBenchmarkSubmissionSchema, RuntimeBenchmarkSubmissionResponseSchema>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeBenchmarksSubmit
     *
     * @param runtimeBenchmarkSubmissionSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun runtimeBenchmarksSubmitRequestConfig(runtimeBenchmarkSubmissionSchema: RuntimeBenchmarkSubmissionSchema, idempotencyKey: kotlin.String?) : RequestConfig<RuntimeBenchmarkSubmissionSchema> {
        val localVariableBody = runtimeBenchmarkSubmissionSchema
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/runtime/benchmarks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Returns public engine defaults, supported capabilities, and routing policies. No authentication is required. SDKs call t
     * Returns public engine defaults, supported capabilities, and routing policies. No authentication is required. SDKs call this on first launch to populate defaults without needing a full plan request. Response is static for a given server version and is safe to cache for plan_ttl_seconds.
     * @return RuntimeDefaults200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeDefaults() : RuntimeDefaults200Response {
        val localVarResponse = runtimeDefaultsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeDefaults200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Returns public engine defaults, supported capabilities, and routing policies. No authentication is required. SDKs call t
     * Returns public engine defaults, supported capabilities, and routing policies. No authentication is required. SDKs call this on first launch to populate defaults without needing a full plan request. Response is static for a given server version and is safe to cache for plan_ttl_seconds.
     * @return ApiResponse<RuntimeDefaults200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeDefaultsWithHttpInfo() : ApiResponse<RuntimeDefaults200Response?> {
        val localVariableConfig = runtimeDefaultsRequestConfig()

        return request<Unit, RuntimeDefaults200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeDefaults
     *
     * @return RequestConfig
     */
    fun runtimeDefaultsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/runtime/defaults",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Retrieve a single route telemetry event by route_id. Scoped to the authenticated caller&#39;s org_id. Used by the dashboard 
     * Retrieve a single route telemetry event by route_id. Scoped to the authenticated caller&#39;s org_id. Used by the dashboard and SDK debugging tools to inspect routing decisions for a specific request.
     * @param routeId The route_id of the event to retrieve. This is the same value the SDK submitted via runtime.events.ingest. 
     * @return RuntimeEventsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeEventsGet(routeId: kotlin.String) : RuntimeEventsGet200Response {
        val localVarResponse = runtimeEventsGetWithHttpInfo(routeId = routeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeEventsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a single route telemetry event by route_id. Scoped to the authenticated caller&#39;s org_id. Used by the dashboard 
     * Retrieve a single route telemetry event by route_id. Scoped to the authenticated caller&#39;s org_id. Used by the dashboard and SDK debugging tools to inspect routing decisions for a specific request.
     * @param routeId The route_id of the event to retrieve. This is the same value the SDK submitted via runtime.events.ingest. 
     * @return ApiResponse<RuntimeEventsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeEventsGetWithHttpInfo(routeId: kotlin.String) : ApiResponse<RuntimeEventsGet200Response?> {
        val localVariableConfig = runtimeEventsGetRequestConfig(routeId = routeId)

        return request<Unit, RuntimeEventsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeEventsGet
     *
     * @param routeId The route_id of the event to retrieve. This is the same value the SDK submitted via runtime.events.ingest. 
     * @return RequestConfig
     */
    fun runtimeEventsGetRequestConfig(routeId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/runtime/events/{route_id}".replace("{"+"route_id"+"}", encodeURIComponent(routeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Ingest a route telemetry event from an SDK. The event records the outcome of a routing decision: which engine was select
     * Ingest a route telemetry event from an SDK. The event records the outcome of a routing decision: which engine was selected, whether fallback occurred, performance metrics, and gate evaluation results. The server validates enum-constrained fields, strips privacy-sensitive content, and stores the event for monitoring queries. Returns 202 Accepted synchronously.
     * @param runtimeEventsIngestRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RuntimeEventsIngest200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeEventsIngest(runtimeEventsIngestRequest: RuntimeEventsIngestRequest, idempotencyKey: kotlin.String? = null) : RuntimeEventsIngest200Response {
        val localVarResponse = runtimeEventsIngestWithHttpInfo(runtimeEventsIngestRequest = runtimeEventsIngestRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeEventsIngest200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Ingest a route telemetry event from an SDK. The event records the outcome of a routing decision: which engine was select
     * Ingest a route telemetry event from an SDK. The event records the outcome of a routing decision: which engine was selected, whether fallback occurred, performance metrics, and gate evaluation results. The server validates enum-constrained fields, strips privacy-sensitive content, and stores the event for monitoring queries. Returns 202 Accepted synchronously.
     * @param runtimeEventsIngestRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<RuntimeEventsIngest200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeEventsIngestWithHttpInfo(runtimeEventsIngestRequest: RuntimeEventsIngestRequest, idempotencyKey: kotlin.String?) : ApiResponse<RuntimeEventsIngest200Response?> {
        val localVariableConfig = runtimeEventsIngestRequestConfig(runtimeEventsIngestRequest = runtimeEventsIngestRequest, idempotencyKey = idempotencyKey)

        return request<RuntimeEventsIngestRequest, RuntimeEventsIngest200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeEventsIngest
     *
     * @param runtimeEventsIngestRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun runtimeEventsIngestRequestConfig(runtimeEventsIngestRequest: RuntimeEventsIngestRequest, idempotencyKey: kotlin.String?) : RequestConfig<RuntimeEventsIngestRequest> {
        val localVariableBody = runtimeEventsIngestRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/runtime/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List route telemetry events for the authenticated org with comprehensive filtering. Supports windowed queries by timefra
     * List route telemetry events for the authenticated org with comprehensive filtering. Supports windowed queries by timeframe and filtering by app, deployment, experiment, variant, route_id, request_id, fallback status, locality, mode, and gate taxonomy fields. Returns newest-first.
     * @return RuntimeEventsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeEventsList() : RuntimeEventsList200Response {
        val localVarResponse = runtimeEventsListWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeEventsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List route telemetry events for the authenticated org with comprehensive filtering. Supports windowed queries by timefra
     * List route telemetry events for the authenticated org with comprehensive filtering. Supports windowed queries by timeframe and filtering by app, deployment, experiment, variant, route_id, request_id, fallback status, locality, mode, and gate taxonomy fields. Returns newest-first.
     * @return ApiResponse<RuntimeEventsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeEventsListWithHttpInfo() : ApiResponse<RuntimeEventsList200Response?> {
        val localVariableConfig = runtimeEventsListRequestConfig()

        return request<Unit, RuntimeEventsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeEventsList
     *
     * @return RequestConfig
     */
    fun runtimeEventsListRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/runtime/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Returns aggregated runtime monitoring statistics for the authenticated org within the specified timeframe. Aggregates up
     * Returns aggregated runtime monitoring statistics for the authenticated org within the specified timeframe. Aggregates up to 10,000 events per call. Provides operational insight into routing decisions, fallback rates, local-vs-cloud split, top fallback triggers, per-context breakdowns, and gate class distribution. Used by the dashboard monitoring view.
     * @return RuntimeMonitoringSummary200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeMonitoringSummary() : RuntimeMonitoringSummary200Response {
        val localVarResponse = runtimeMonitoringSummaryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeMonitoringSummary200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Returns aggregated runtime monitoring statistics for the authenticated org within the specified timeframe. Aggregates up
     * Returns aggregated runtime monitoring statistics for the authenticated org within the specified timeframe. Aggregates up to 10,000 events per call. Provides operational insight into routing decisions, fallback rates, local-vs-cloud split, top fallback triggers, per-context breakdowns, and gate class distribution. Used by the dashboard monitoring view.
     * @return ApiResponse<RuntimeMonitoringSummary200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeMonitoringSummaryWithHttpInfo() : ApiResponse<RuntimeMonitoringSummary200Response?> {
        val localVariableConfig = runtimeMonitoringSummaryRequestConfig()

        return request<Unit, RuntimeMonitoringSummary200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeMonitoringSummary
     *
     * @return RequestConfig
     */
    fun runtimeMonitoringSummaryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/runtime/monitoring/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Request an optimized runtime execution plan for a model on a specific device.
     * Request an optimized runtime execution plan for a model on a specific device.
     * @param runtimePlanRequestSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RuntimePlanResponseSchema
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimePlan(runtimePlanRequestSchema: RuntimePlanRequestSchema, idempotencyKey: kotlin.String? = null) : RuntimePlanResponseSchema {
        val localVarResponse = runtimePlanWithHttpInfo(runtimePlanRequestSchema = runtimePlanRequestSchema, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimePlanResponseSchema
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Request an optimized runtime execution plan for a model on a specific device.
     * Request an optimized runtime execution plan for a model on a specific device.
     * @param runtimePlanRequestSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<RuntimePlanResponseSchema?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimePlanWithHttpInfo(runtimePlanRequestSchema: RuntimePlanRequestSchema, idempotencyKey: kotlin.String?) : ApiResponse<RuntimePlanResponseSchema?> {
        val localVariableConfig = runtimePlanRequestConfig(runtimePlanRequestSchema = runtimePlanRequestSchema, idempotencyKey = idempotencyKey)

        return request<RuntimePlanRequestSchema, RuntimePlanResponseSchema>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimePlan
     *
     * @param runtimePlanRequestSchema 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun runtimePlanRequestConfig(runtimePlanRequestSchema: RuntimePlanRequestSchema, idempotencyKey: kotlin.String?) : RequestConfig<RuntimePlanRequestSchema> {
        val localVariableBody = runtimePlanRequestSchema
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/runtime/plan",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
