// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.TelemetryAgentBatch200Response
import ai.octomil.generated.transport.models.TelemetryAgentBatchRequest
import ai.octomil.generated.transport.models.TelemetryBatch
import ai.octomil.generated.transport.models.TelemetryBatch200Response
import ai.octomil.generated.transport.models.TelemetryV2Events200Response
import ai.octomil.generated.transport.models.TelemetryV2EventsRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class TelemetryApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Ingest a batch of SDK/agent telemetry events at the /batches (plural) path. Hard ceiling is 4x MAX_BATCH_EVENTS; exceedi
     * Ingest a batch of SDK/agent telemetry events at the /batches (plural) path. Hard ceiling is 4x MAX_BATCH_EVENTS; exceeding returns 413. Per-event rejections do not fail the request.
     * @param telemetryAgentBatchRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return TelemetryAgentBatch200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun telemetryAgentBatch(telemetryAgentBatchRequest: TelemetryAgentBatchRequest, idempotencyKey: kotlin.String? = null) : TelemetryAgentBatch200Response {
        val localVarResponse = telemetryAgentBatchWithHttpInfo(telemetryAgentBatchRequest = telemetryAgentBatchRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TelemetryAgentBatch200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Ingest a batch of SDK/agent telemetry events at the /batches (plural) path. Hard ceiling is 4x MAX_BATCH_EVENTS; exceedi
     * Ingest a batch of SDK/agent telemetry events at the /batches (plural) path. Hard ceiling is 4x MAX_BATCH_EVENTS; exceeding returns 413. Per-event rejections do not fail the request.
     * @param telemetryAgentBatchRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<TelemetryAgentBatch200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun telemetryAgentBatchWithHttpInfo(telemetryAgentBatchRequest: TelemetryAgentBatchRequest, idempotencyKey: kotlin.String?) : ApiResponse<TelemetryAgentBatch200Response?> {
        val localVariableConfig = telemetryAgentBatchRequestConfig(telemetryAgentBatchRequest = telemetryAgentBatchRequest, idempotencyKey = idempotencyKey)

        return request<TelemetryAgentBatchRequest, TelemetryAgentBatch200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation telemetryAgentBatch
     *
     * @param telemetryAgentBatchRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun telemetryAgentBatchRequestConfig(telemetryAgentBatchRequest: TelemetryAgentBatchRequest, idempotencyKey: kotlin.String?) : RequestConfig<TelemetryAgentBatchRequest> {
        val localVariableBody = telemetryAgentBatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/telemetry/agent/batches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload a batch of telemetry events from the device to the server ingestion pipeline.
     * Upload a batch of telemetry events from the device to the server ingestion pipeline.
     * @param telemetryBatch 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return TelemetryBatch200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun telemetryBatch(telemetryBatch: TelemetryBatch, idempotencyKey: kotlin.String? = null) : TelemetryBatch200Response {
        val localVarResponse = telemetryBatchWithHttpInfo(telemetryBatch = telemetryBatch, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TelemetryBatch200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload a batch of telemetry events from the device to the server ingestion pipeline.
     * Upload a batch of telemetry events from the device to the server ingestion pipeline.
     * @param telemetryBatch 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<TelemetryBatch200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun telemetryBatchWithHttpInfo(telemetryBatch: TelemetryBatch, idempotencyKey: kotlin.String?) : ApiResponse<TelemetryBatch200Response?> {
        val localVariableConfig = telemetryBatchRequestConfig(telemetryBatch = telemetryBatch, idempotencyKey = idempotencyKey)

        return request<TelemetryBatch, TelemetryBatch200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation telemetryBatch
     *
     * @param telemetryBatch 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun telemetryBatchRequestConfig(telemetryBatch: TelemetryBatch, idempotencyKey: kotlin.String?) : RequestConfig<TelemetryBatch> {
        val localVariableBody = telemetryBatch
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/telemetry/batches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Accept telemetry events at the /api/v2/telemetry/events path in either simplified or OTLP envelope format. Events are ro
     * Accept telemetry events at the /api/v2/telemetry/events path in either simplified or OTLP envelope format. Events are routed by name prefix to subsystem handlers. device.* events are forwarding-only (no DB write). OTLP forwarding is dispatched as a background task. Returns X-Device-Needs-Registration header when device is unregistered.
     * @param telemetryV2EventsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return TelemetryV2Events200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun telemetryV2Events(telemetryV2EventsRequest: TelemetryV2EventsRequest, idempotencyKey: kotlin.String? = null) : TelemetryV2Events200Response {
        val localVarResponse = telemetryV2EventsWithHttpInfo(telemetryV2EventsRequest = telemetryV2EventsRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TelemetryV2Events200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Accept telemetry events at the /api/v2/telemetry/events path in either simplified or OTLP envelope format. Events are ro
     * Accept telemetry events at the /api/v2/telemetry/events path in either simplified or OTLP envelope format. Events are routed by name prefix to subsystem handlers. device.* events are forwarding-only (no DB write). OTLP forwarding is dispatched as a background task. Returns X-Device-Needs-Registration header when device is unregistered.
     * @param telemetryV2EventsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return ApiResponse<TelemetryV2Events200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun telemetryV2EventsWithHttpInfo(telemetryV2EventsRequest: TelemetryV2EventsRequest, idempotencyKey: kotlin.String?) : ApiResponse<TelemetryV2Events200Response?> {
        val localVariableConfig = telemetryV2EventsRequestConfig(telemetryV2EventsRequest = telemetryV2EventsRequest, idempotencyKey = idempotencyKey)

        return request<TelemetryV2EventsRequest, TelemetryV2Events200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation telemetryV2Events
     *
     * @param telemetryV2EventsRequest 
     * @param idempotencyKey Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original response without re-executing side effects. Required by STYLE_GUIDE §5 on every non-idempotent write (POST / PATCH); GET / PUT / DELETE are inherently idempotent and don&#39;t need it. (optional)
     * @return RequestConfig
     */
    fun telemetryV2EventsRequestConfig(telemetryV2EventsRequest: TelemetryV2EventsRequest, idempotencyKey: kotlin.String?) : RequestConfig<TelemetryV2EventsRequest> {
        val localVariableBody = telemetryV2EventsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/telemetry/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
