// AUTOGENERATED — DO NOT EDIT
// Source:     octomil-contracts/dist/openapi.yaml
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.TracesList200Response
import ai.octomil.generated.transport.models.TracesStatsSummary200Response

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class TracesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Retrieve all spans for a specific trace by trace_id. The org_id from the auth token is used to gate access.
     * Retrieve all spans for a specific trace by trace_id. The org_id from the auth token is used to gate access.
     * @param traceId 
     * @return kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun tracesGet(traceId: kotlin.String) : kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVarResponse = tracesGetWithHttpInfo(traceId = traceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve all spans for a specific trace by trace_id. The org_id from the auth token is used to gate access.
     * Retrieve all spans for a specific trace by trace_id. The org_id from the auth token is used to gate access.
     * @param traceId 
     * @return ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun tracesGetWithHttpInfo(traceId: kotlin.String) : ApiResponse<kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>?> {
        val localVariableConfig = tracesGetRequestConfig(traceId = traceId)

        return request<Unit, kotlin.collections.List<kotlin.collections.Map<kotlin.String, kotlin.Any>>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tracesGet
     *
     * @param traceId 
     * @return RequestConfig
     */
    fun tracesGetRequestConfig(traceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/traces/{trace_id}".replace("{"+"trace_id"+"}", encodeURIComponent(traceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List distributed traces for the authenticated org within a lookback window. Scoped to the caller&#39;s org_id from the auth 
     * List distributed traces for the authenticated org within a lookback window. Scoped to the caller&#39;s org_id from the auth token.
     * @param hours Lookback window in hours. Defaults to 24. Max 168 (7 days). (optional)
     * @param deviceId  (optional)
     * @param limit  (optional)
     * @return TracesList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun tracesList(hours: kotlin.Int? = null, deviceId: kotlin.String? = null, limit: kotlin.Int? = null) : TracesList200Response {
        val localVarResponse = tracesListWithHttpInfo(hours = hours, deviceId = deviceId, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TracesList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List distributed traces for the authenticated org within a lookback window. Scoped to the caller&#39;s org_id from the auth 
     * List distributed traces for the authenticated org within a lookback window. Scoped to the caller&#39;s org_id from the auth token.
     * @param hours Lookback window in hours. Defaults to 24. Max 168 (7 days). (optional)
     * @param deviceId  (optional)
     * @param limit  (optional)
     * @return ApiResponse<TracesList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun tracesListWithHttpInfo(hours: kotlin.Int?, deviceId: kotlin.String?, limit: kotlin.Int?) : ApiResponse<TracesList200Response?> {
        val localVariableConfig = tracesListRequestConfig(hours = hours, deviceId = deviceId, limit = limit)

        return request<Unit, TracesList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tracesList
     *
     * @param hours Lookback window in hours. Defaults to 24. Max 168 (7 days). (optional)
     * @param deviceId  (optional)
     * @param limit  (optional)
     * @return RequestConfig
     */
    fun tracesListRequestConfig(hours: kotlin.Int?, deviceId: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (hours != null) {
                    put("hours", listOf(hours.toString()))
                }
                if (deviceId != null) {
                    put("device_id", listOf(deviceId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/traces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Aggregate statistics for request traces within a time window. Returns total, success, failure, timeout, and auth-failure
     * Aggregate statistics for request traces within a time window. Returns total, success, failure, timeout, and auth-failure counts plus average duration in ms.
     * @param hours Lookback window in hours (1–168, default 24). (optional)
     * @param httpPath Filter by path prefix. (optional)
     * @return TracesStatsSummary200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun tracesStatsSummary(hours: kotlin.Int? = null, httpPath: kotlin.String? = null) : TracesStatsSummary200Response {
        val localVarResponse = tracesStatsSummaryWithHttpInfo(hours = hours, httpPath = httpPath)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TracesStatsSummary200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Aggregate statistics for request traces within a time window. Returns total, success, failure, timeout, and auth-failure
     * Aggregate statistics for request traces within a time window. Returns total, success, failure, timeout, and auth-failure counts plus average duration in ms.
     * @param hours Lookback window in hours (1–168, default 24). (optional)
     * @param httpPath Filter by path prefix. (optional)
     * @return ApiResponse<TracesStatsSummary200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun tracesStatsSummaryWithHttpInfo(hours: kotlin.Int?, httpPath: kotlin.String?) : ApiResponse<TracesStatsSummary200Response?> {
        val localVariableConfig = tracesStatsSummaryRequestConfig(hours = hours, httpPath = httpPath)

        return request<Unit, TracesStatsSummary200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tracesStatsSummary
     *
     * @param hours Lookback window in hours (1–168, default 24). (optional)
     * @param httpPath Filter by path prefix. (optional)
     * @return RequestConfig
     */
    fun tracesStatsSummaryRequestConfig(hours: kotlin.Int?, httpPath: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (hours != null) {
                    put("hours", listOf(hours.toString()))
                }
                if (httpPath != null) {
                    put("http_path", listOf(httpPath.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/traces/stats/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
