// AUTOGENERATED — DO NOT EDIT
// Source:     /Users/seanb/Developer/Octomil/octomil-contracts/dist/openapi.yaml (@13f3d3a)
// Generator:  openapi-generator-cli==7.10.0 (jvm-okhttp4)
// Regenerate: octomil-contracts/tools/sdkgen/generate-kotlin.sh

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.octomil.generated.transport.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.octomil.generated.transport.models.ErrorEnvelope
import ai.octomil.generated.transport.models.UsageGet200Response
import ai.octomil.generated.transport.models.UsageSavingsGet200Response
import ai.octomil.generated.transport.models.UsageSavingsGetModel200Response

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import ai.octomil.generated.transport.infrastructure.ApiClient
import ai.octomil.generated.transport.infrastructure.ApiResponse
import ai.octomil.generated.transport.infrastructure.ClientException
import ai.octomil.generated.transport.infrastructure.ClientError
import ai.octomil.generated.transport.infrastructure.ServerException
import ai.octomil.generated.transport.infrastructure.ServerError
import ai.octomil.generated.transport.infrastructure.MultiValueMap
import ai.octomil.generated.transport.infrastructure.PartConfig
import ai.octomil.generated.transport.infrastructure.RequestConfig
import ai.octomil.generated.transport.infrastructure.RequestMethod
import ai.octomil.generated.transport.infrastructure.ResponseType
import ai.octomil.generated.transport.infrastructure.Success
import ai.octomil.generated.transport.infrastructure.toMultiValue

class UsageApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.octomil.com")
        }
    }

    /**
     * Return usage metrics and warnings for the org for the current billing period. Metrics are keyed by slug; the key set is 
     * Return usage metrics and warnings for the org for the current billing period. Metrics are keyed by slug; the key set is plan-dependent.
     * @param orgId Org to query. Derived from auth token if omitted. (optional)
     * @return UsageGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun usageGet(orgId: kotlin.String? = null) : UsageGet200Response {
        val localVarResponse = usageGetWithHttpInfo(orgId = orgId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UsageGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return usage metrics and warnings for the org for the current billing period. Metrics are keyed by slug; the key set is 
     * Return usage metrics and warnings for the org for the current billing period. Metrics are keyed by slug; the key set is plan-dependent.
     * @param orgId Org to query. Derived from auth token if omitted. (optional)
     * @return ApiResponse<UsageGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun usageGetWithHttpInfo(orgId: kotlin.String?) : ApiResponse<UsageGet200Response?> {
        val localVariableConfig = usageGetRequestConfig(orgId = orgId)

        return request<Unit, UsageGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation usageGet
     *
     * @param orgId Org to query. Derived from auth token if omitted. (optional)
     * @return RequestConfig
     */
    fun usageGetRequestConfig(orgId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (orgId != null) {
                    put("org_id", listOf(orgId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/usage",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return estimated cloud cost savings from on-device inference offloading for a given aggregation period, with per-model a
     * Return estimated cloud cost savings from on-device inference offloading for a given aggregation period, with per-model and daily breakdowns.
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return UsageSavingsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun usageSavingsGet(period: kotlin.String? = null) : UsageSavingsGet200Response {
        val localVarResponse = usageSavingsGetWithHttpInfo(period = period)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UsageSavingsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return estimated cloud cost savings from on-device inference offloading for a given aggregation period, with per-model a
     * Return estimated cloud cost savings from on-device inference offloading for a given aggregation period, with per-model and daily breakdowns.
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return ApiResponse<UsageSavingsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun usageSavingsGetWithHttpInfo(period: kotlin.String?) : ApiResponse<UsageSavingsGet200Response?> {
        val localVariableConfig = usageSavingsGetRequestConfig(period = period)

        return request<Unit, UsageSavingsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation usageSavingsGet
     *
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return RequestConfig
     */
    fun usageSavingsGetRequestConfig(period: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (period != null) {
                    put("period", listOf(period.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/usage/savings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Return estimated cloud cost savings attributable to a specific model for a given aggregation period.
     * Return estimated cloud cost savings attributable to a specific model for a given aggregation period.
     * @param modelId 
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return UsageSavingsGetModel200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun usageSavingsGetModel(modelId: kotlin.String, period: kotlin.String? = null) : UsageSavingsGetModel200Response {
        val localVarResponse = usageSavingsGetModelWithHttpInfo(modelId = modelId, period = period)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UsageSavingsGetModel200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Return estimated cloud cost savings attributable to a specific model for a given aggregation period.
     * Return estimated cloud cost savings attributable to a specific model for a given aggregation period.
     * @param modelId 
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return ApiResponse<UsageSavingsGetModel200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun usageSavingsGetModelWithHttpInfo(modelId: kotlin.String, period: kotlin.String?) : ApiResponse<UsageSavingsGetModel200Response?> {
        val localVariableConfig = usageSavingsGetModelRequestConfig(modelId = modelId, period = period)

        return request<Unit, UsageSavingsGetModel200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation usageSavingsGetModel
     *
     * @param modelId 
     * @param period Aggregation period. Must be one of: 24h, 7d, 30d, all. Defaults to 30d.  (optional)
     * @return RequestConfig
     */
    fun usageSavingsGetModelRequestConfig(modelId: kotlin.String, period: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (period != null) {
                    put("period", listOf(period.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/usage/savings/{model_id}".replace("{"+"model_id"+"}", encodeURIComponent(modelId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
